{% extends "site_base.html" %}
{% load crispy_forms_tags %}
{% load compress %}

{% load i18n %}

{% block head_title %}{% trans "Sign Up" %}{% endblock %}

{% block head_css %}
{{ block.super }}
<link href="{{STATIC_URL}}stylesheets/login.css" rel="stylesheet" type="text/css" media="screen,projection" />
{% endblock %}

{% block head_scripts %}
{{ block.super }}
{% include "freemix/js_include/jquery_ui.html" %}

<script type="text/javascript">
  var org_types = {{ form.org_type_choices|safe }};
</script>
{% compress js %}
<script type="text/javascript" src="{{ STATIC_URL }}registration/js/registration_form.js"></script>
{% endcompress %}
{% endblock %}

{% block body %}
    <h1>{% trans "Sign Up" %}</h1>

    <fieldset>
      <div class="fieldtext">
	
	<p>{% blocktrans %}Thank you for your interest in {{ SITE_NAME }}!{% endblocktrans %}</p>
	
	<p>{% blocktrans %}User accounts for {{ SITE_NAME }} require moderator approval. Please fill in the following details and our team will respond by email within 24 hours with your account
	  activation information.{% endblocktrans %}</p>
      </div>
    </fieldset>

    <div class="login_options login_request_wrapper">	
      <div class="login_request_text">
              {% with form.helper as helper %}
                  {% crispy form helper %}
              {% endwith %}
      </div>
    </div>
    
{% endblock body %}
