{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Up" %}{% endblock %}

{% block body %}


<h1>{% trans "Pending Moderator Approval" %}</h1>

<div class="clearfix">

  <div class="login_options login_wrapper">	
    <div class="login_request_text">
      <fieldset>
	<div class="fieldtext">
	  
	  <p>{% blocktrans %}Thank you for your interest in {{ SITE_NAME }}!{% endblocktrans %}</p>
	  
	  <p>{% blocktrans %}Your account is pending moderator approval.  Our systems team will respond by email within 24 hours with your account
	    activation information.{% endblocktrans %}</p>
	</div>
     </fieldset>
    </div>
  </div>

</div>
{% endblock %}
