{% extends "site_base.html" %}
{% load crispy_forms_tags %}
{% load compress %}

{% load i18n %}

{% block head_title %}{% trans "Sign Up" %}{% endblock %}

{% block head_css %}
{{ block.super }}
<link href="{{STATIC_URL}}viewshare/css/login.css" rel="stylesheet" type="text/css" media="screen,projection" />
{% endblock %}

{% block extra_scripts %}
{{ block.super }}
{% include "freemix/js_include/jquery_ui.html" %}

<script type="text/javascript">
  var org_types = {{ form.org_type_choices|safe }};
</script>
{% compress js %}
<script type="text/javascript" src="{{ STATIC_URL }}registration/js/registration_form.js"></script>
{% endcompress %}
{% endblock %}

{% block body %}
<h1>{% trans "Sign Up" %}</h1>

<div class="row-fluid">
  <div class="span10 offset1">
    <div class="alert alert-info signup-text">
      {% blocktrans %}Thank you for your interest in {{ SITE_NAME }}! User accounts require moderator approval. Please fill in the following details and our team will respond by email within two business days with your account activation information.{% endblocktrans %}
    </div>
  </div>
</div>
  
<div class="login_text login_request_wrapper well">	
  {% with form.helper as helper %}
  {% crispy form helper %}
  {% endwith %}
</div>
    
{% endblock body %}
