{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Up" %}{% endblock %}

{% block body %}


<h1>{% trans "Sign Up" %}</h1>

<div class="clearfix">

  <div class="login_options login_wrapper">	
    <div class="login_request_text">
      <fieldset>
	
	<div class="fieldtext">
	  
	  <p>Thank you for your interest in {{ SITE_NAME }}!</p>
	  
	  <p>{{ SITE_NAME }} is currently in invitational Beta and only
	    accessible to NDIIPP partners. To gain access to {{ SITE_NAME }} with
	    an authorized account, please send us an email (including your
	    desired username) to <a href =
				    "mailto:ndiippaccess@loc.gov">ndiippaccess@loc.gov</a>
	  </p>
	  
	  <p>Our systems team will respond within 24 hours with your account
	    information.</p>
	</div>
	
  </fieldset>

    </div>
    </div>
</div>
{% endblock %}
