.facet-container {
    min-height: 2.5em;
    list-style-type:none;
    position: relative;
}

.columns {
    margin-top: 5px;
}

#right-facets, #views, #left-facets {
}

#left-facets {
    padding: 0;
    position:relative;
}

#left-facets img {
    max-width: 19em;
}

#right-facets {
}

#right-facets img {
    max-width: 19em;
}

#top-facets .facet,
#top-facets .exhibit-facet,
#top-facets .exhibit-cloudFacet {
    display: inline-table;
    vertical-align: top;
}

.exhibit-facet {
    padding-bottom: 10px;
}

#top-facets .exhibit-facet,
#top-facets .exhibit-cloudFacet {
    padding-right: 20px;
}

#top-facets img {
    max-width: 19em;
}

#views {
}

h1 {
	font-size: 1.9em;
	margin-bottom: 2px;
}

h2 {

	font-size: 1.2em;
	margin-top: 0px;

}
