.embed-watermark {
    font-size: 90%;
    color: #999;
}

.embed-watermark a {
    font-weight: bold;
    text-decoration: none;
    color: #777;
}

.embed-watermark a:hover {
    text-decoration: underline;
}

div.olMap {
    background-color: #B5D6F1;
}

div.embed-lightbox {
    background-color: #fff;
    padding: 5px 20px 20px;
    position: absolute;
    visibility: hidden;
    z-index: 500001;
}

p.embed-lightbox-image {
    margin: 0;
    overflow: auto;
    padding: 0;
    text-align: center;
}

p.embed-lightbox-control {
    font-size: 0.9em;
    margin: 0;
    padding: 0 0 5px 0;
    text-align: right;
}

div.clear {
display: none;
}

#titles {
margin-bottom: -30px;

}