{% extends "exhibit/base.html" %}

{% load i18n %}
{% load exhibit_tags %}
{% load connection_helpers %}
{% load datasource_tags %}
{% load viewshare_helpers %}
{% load compress %}

{% block freemix_title %}{% blocktrans %}View Inspector{% endblocktrans %}:
    {{ object.title }}{% endblock %}

{% block freemix_css %}
    {{ block.super }}
    {% compress css %}
        <link rel="stylesheet" type="text/css"
              href="{{ STATIC_URL }}freemix/css/layout.css"/>
        <link rel="stylesheet" type="text/css"
              href="{{ STATIC_URL }}freemix/css/views.css"/>
        <link rel="stylesheet" type="text/css"
              href="{{ STATIC_URL }}freemix/css/editor.css"/>
        <link href="{{ STATIC_URL }}freemix/css/inspector.css" rel="stylesheet"
              type="text/css" media="screen,projection"/>
        <link href="{{ STATIC_URL }}exhibit/css/embed.css" rel="stylesheet"
              type="text/css" media="screen,projection"/>

    {% endcompress %}
{% endblock %}

{% block freemix_js %}
    {{ block.super }}
    <script type="text/javascript"
            src="{{ STATIC_URL }}freemix/js/lib/jquery.form.js"></script>
    <script type="text/javascript"
            src="{{ STATIC_URL }}freemix/js/../../static/freemix/js/detail.js"></script>

    {% if can_share %}
        {% compress js %}
            <script type="text/javascript"
                    src="{{ STATIC_URL }}share/js/share_dialog.js"></script>
        {% endcompress %}
    {% endif %}

{% endblock %}

{% block body_class %}view-viewer{% endblock %}

{% block body %}

    <div class="row-fluid">

        <div class="span5">

            <div id="exhibit_metadata">
                {% include "exhibit/detail/exhibit_metadata.html" %}
            </div>

            {% include "exhibit/embed/alert.html" %}

        </div>
        <!-- end span4 -->

        <div class="span7">

            {% if object.source %}
                <div class="sourcedata-section widget-well">

                    <div class="widget-header">
                        <h2>{% blocktrans %}Source Data{% endblocktrans %}</h2>
                    </div>

                    <div class="row-fluid">
                        <div class="span12">
                            {% datasource_list_item object.source %}
                        </div>
                    </div>

                </div>
            {% endif %}

            <div class="embed-section widget-well">

                <div class="widget-header">
                    <h2>{% blocktrans %}Embed{% endblocktrans %}</h2>
                </div>

                <div class="row-fluid">
                    <div class="span12">

                        <uL class="exhibit_list_items">
                            <li class="exhibit_list_item">
                                <div class="embed-desc">{% blocktrans %}Copy the
                                    following and paste it into your page where
                                    you'd like your data view to be
                                    placed.{% endblocktrans %}</div>

                                <input type="text"
                                       value="&lt;script id='freemix-embed' src='{{ exhibit_embed_url }}' type='text/javascript'&gt;&lt;/script&gt;"
                                       class="embed-key" readonly="readonly"/>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>

            {% if can_share %}
                <div class="sharedkey-section widget-well">

                    <div class="widget-header">
                        <div class="row-fluid">
                            <div class="span10">
                                <h2>{% blocktrans %}Shared
                                    Links{% endblocktrans %}</h2>
                            </div>
                            <div class="span2">
                                <div class="pull-right">
                                    <div class="widget-links btn-group">
                                        <a class="exhibit_share btn btn-small btn-info"
                                           href="#exhibit-share-form"
                                           rel="{% url 'shared_key_create_form' owner=exhibit.owner.username slug=exhibit.slug %}"
                                           rev="{{ request.build_absolute_uri }}"
                                           data-target="#exhibit-share-form"
                                           role="button"
                                           id="exhibit-share-button"
                                           data-toggle="modal">{% trans "Share" %}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="exhibit-share-form"
                         class="modal modal-fit hide fade" tabindex="-1"
                         role="dialog" aria-labelledby="exhibitShareFormLabel"
                         aria-hidden="true">
                        <div class="modal-header">
                            <button type="button" class="close"
                                    data-dismiss="modal" aria-hidden="true">×
                            </button>
                            <h3 id="exhibitShareFormLabel">{% trans "Share View" %}</h3>
                        </div>
                        <div id="share_exhibit_form_template"
                             class="modal-body">
                        </div>
                    </div>

                    {% if exhibit.shared_keys.all %}
                        <ul class="shared_key_list_items">
                            {% for key in exhibit.shared_keys.all %}
                                {% include "share/shared_key_metadata.html" %}
                            {% endfor %}
                        </ul>
                    {% else %}
                        <div class="row-fluid">
                            <div class="offset1 span10">
                                <div class="alert alert-info">
                                    {% blocktrans %} You can choose to share a
                                        view with only a specific set of
                                        individuals by creating a shared link.
                                        The shared link will include a special
                                        shared key in the URL that will only
                                        allow people with that URL to access
                                        your view. After clicking the "Share"
                                        button in the right corner this pane you
                                        will be prompted to name and save your
                                        link. {% endblocktrans %}
                                </div>
                            </div>
                        </div>
                    {% endif %}

                </div>
            {% endif %}

        </div>
    </div>

    {% if can_delete %}
        {% include "exhibit/exhibit_delete_dialog.html" %}
    {% endif %}

    {% if can_share %}
        {% include "share/shared_key_delete_dialog.html" %}
    {% endif %}

{% endblock %}
