{% load url from future %}
{% load announcements_tags %}
{% load compress %}
{% load i18n %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}


<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  {% block rss_feeds %}{% endblock %}
  <title>{% if site_name %}{{ site_name }} : {% endif %}{% block head_title %}{% endblock %}</title>
  {% block head_jquery %}
  <script type="text/javascript" src="{{STATIC_PREFIX}}freemix/js/lib/jquery.js"></script>
  {% endblock %}
  {% block head_css %}{% endblock %}
  {% block head_data %}{% endblock %}
  {% block extra_head %}{% endblock %}
</head>
<body>
  <div class="container-fluid">
    {% block banner %}
    <!-- fixed header across all application -->
    <div class="row-fluid">
      <div id="header">
        <div id="tabhead" class="navbar navbar-fixed-top">
          <div class="navbar-inner">
            <div class="container">

              <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
              </button>

              <a href="/" class="brand">
                <span id="application-logo"></span>
                <span id="application-status">{{ SITE_NAME_STATUS }}</span>
              </a>

              <div class="nav-collapse collapse">
		<ul class="nav pull-right">
                  {% block login %}{% endblock %}
		</ul>
	      </div>
            </div><!-- /.container -->
          </div><!-- /.navbar-inner -->
        </div><!-- /.navbar -->
      </div><!-- /.header -->
    </div><!-- /.row-fluid -->


    <div class="container-fluid">
      <div id="body" class="freemix-themeable">

	{% announcements as site_wide_announcements %}
	{% if site_wide_announcements %}
	{% for announcement in site_wide_announcements %}
	<div class="alert" id="site_wide_announcements">
          <strong>{{ announcement.title }}</strong> - {{ announcement.content }}
	</div>
	{% endfor %}
	{% endif %}
	{% endblock banner %}

        <div id="inner-body">
          {% block body %}
          {% endblock %}
        </div>
      </div><!-- /#body -->
    </div> <!-- /.container-fluid -->

    <div id="footer">
      {% block footer %}
      {% endblock %}
    </div>
    {% block extra_body %}{% endblock %}
  </div> <!-- /.container-fluid -->
  {% block base_scripts %}
  {% compress js %}
  <script type="text/javascript" src="{{STATIC_PREFIX}}freemix/js/lib/jquery.csrf.js"></script>
  <script type="text/javascript" src="{{STATIC_PREFIX}}freemix/js/lib/jquery.cookie.js"></script>
  <script type="text/javascript" src="{{STATIC_PREFIX}}freemix/js/lib/bootstrap.js"></script>
  <script type="text/javascript" src="{{STATIC_PREFIX}}viewshare/js/compatible.js"></script>
  <script type="text/javascript" src="{{STATIC_PREFIX}}viewshare/js/ui.js"></script>
  {% endcompress %}
  {% endblock base_scripts %}
  {% block extra_scripts %}{% endblock %}
  {% block final %}{% endblock %}
</body>
</html>

