{% load url from future %}
{% load announcements_tags %}
{% load compress %}
{% load i18n %}
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    {% block rss_feeds %}{% endblock %}

    <title>{% if site_name %}{{ site_name }} : {% endif %}{% block head_title %}{% endblock %}</title>

    {% block head_css %}{% endblock %}
    {% block head_data %}{% endblock %}
    {% block extra_head %}{% endblock %}

    {% compress js %}
    <script type="text/javascript" src="{{STATIC_URL}}freemix/js/lib/jquery.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}freemix/js/lib/jquery.highlight.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}freemix/js/lib/jquery.csrf.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}freemix/js/lib/jquery.cookie.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}freemix/js/lib/bootstrap.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}viewshare/js/compatible.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}viewshare/js/ui.js"></script>

    {% endcompress %}
    {% block head_scripts %}{% endblock %}

  </head>

  <body class="{% block body_class %}{% endblock %}">

    <div class="container-fluid">

      {% block banner %}
      
      <!-- fixed header across all application -->
      
      <div id="header">
        <div id="tabhead" class="navbar navbar-fixed-top">
          <div class="navbar-inner">
            
            <div class="container">
              <a href="/" class="brand"><span id="application-logo"></span>
                <span id="application-status">{{ SITE_NAME_STATUS }}</span></a>            
              <ul class="nav pull-right">
                {% block login %}{% endblock %}
              </ul>
            </div>
            
          </div>
        </div>
      </div>
      
      {% announcements as site_wide_announcements %}
      {% if site_wide_announcements %}
        {% for announcement in site_wide_announcements %}
        <div class="alert" id="site_wide_announcements">
          <strong>{{ announcement.title }}</strong> - {{ announcement.content }}
        </div>
        {% endfor %}
      {% endif %}
      
      {% endblock banner %}
      
      <div {% block rtab_id %}{% endblock %}>
        
        {% if messages %}
        <div class="container-fluid">
          <div id="systemMsg">
            <ul id="system_messages" class="messages">
              {% for message in messages %}
              <li id="message_{{ forloop.counter }}" class="infoMsg">
                <div class="alert alert-info">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                  {{ message }}
                </div>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div> <!-- end container -->
        {% endif %}
        
        <div class="container-fluid">
          
          <div id="body" class="freemix-themeable well">
            
            <div id="inner-body">
              {% block body %}
              {% endblock %}
            </div>
          </div>
          
        </div> <!-- end container -->
        
        <div id="footer">
          {% block footer %}
          {% endblock %}
        </div>
        
        {% block extra_body %}{% endblock %}
      </div>
      
      {% block final %}
      {% endblock %}

    </div> <!-- body container -->
  </body>
</html>

