{% extends "site_base.html" %}

{% load i18n %}
{% load cms_tags  %}

{% block head_title %}{% page_attribute "title" %}{% endblock %}

{% block head_css %}
{{block.super}}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}stylesheets/home-page.css"/>

{% endblock %}

{% block tab_id %}id="home_tab"{% endblock %}

{% block home-tab-selected %} ui-tabs-selected ui-state-active{% endblock %}

{% block toolbar %}{% cms_toolbar %}{% endblock %}

{% block body %}

{% placeholder "main_content" %}

<div class="action-set first-action-set">
 {% placeholder "left_subcontent" %}
</div>

<div class="action-set">
 {% placeholder "middle_subcontent" %}
</div>

<div class="action-set">
 {% placeholder "right_subcontent" %}
</div>


{% endblock %}
