
.record-box {
    margin: 0 auto;
    width: 100%;
    min-height: 30em;
}

.record-box tbody.ui-sortable tr {
    cursor: move;
}

.view-header-container {
    border: 1px #aaa solid;
    border-bottom: 0px;
    text-align: center;
    padding: .3em 0 .3em 0;
    margin: 0 auto;
    width: 100%;
}

.view-config {
    margin: 1em auto;
    width: 50%;
}

.view-config th {
    font-weight: bold;
}

.view-config td, .view-config th {
    padding: 0.5em;
}

.view-title {
    font-size: 1.4em;
}


.action_preview_exhibit {
font-size: 90%;
}


.record-controls {
    border-top: 0px;
    text-align: center;
    padding: 1em 0;
    margin: 0 auto;
    width: 100%;
}

.required-setting {
    display: none;
}

.record-pager {
    float: right;
}

.record-pager button {
}

.record-controls button {
}

.data-property-add {
    float: right;
    margin-right: 10px;
    font-size: 70%;
}


.data-record-delete, .data-refresh {
}

.view-set {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position:relative;
}

.view-set {
    line-height: 1.0;
    height: 15px;
}

.view-set li:hover {
    visibility: inherit; /* fixes IE7 'sticky bug' */
}

.view-set li {
    float: left;
    position: relative;
}

.view-set a {
    display: block;
    position: relative;
}

.view-set li:hover,
.view-set li.ui-status-active,
.view-set a:focus,
.view-set a:hover,
.view-set a:active {
    outline: 0;
}


.view-content {
    clear: both;
}

.view-set li {
    margin-right: 4px;
}

.view-set .view {
    cursor: move;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-right: 5px;
    padding-left: 2px;
    height: 15px;
}

.view-set .view .label {
    padding-left: 5px;
    padding-right: 20px;
}

#add-facet-table {
    width: 100%;
    padding: 0;
    border-spacing: 0 0;
    border: 1px solid #666;
    border-collapse: collapse;
}

#add-facet-table thead, #identify-table thead {
    border: 1px solid #a9a9a9;
}

#add-facet-table tbody {
    border: 1px solid #a9a9a9;
}

#add-facet-table td {
    cursor: pointer;
}

#add-facet-table td.right {
    text-align: right;
}

#add-facet-table th {
    border-bottom: 1px solid #666;
    text-align: left;
    font-weight: normal;
    padding: 0.1em 0.5em;
}

#add-facet-table td {
    border-bottom: 1px solid #666;
    padding: 0.1em 0.5em;
}

#add-facet-table thead th {
    text-align: center;
}

.facet-container ul {
    min-height: 3em;
}

.facet-container-horizontal .exhibit-facet,
.facet-container-horizontal .exhibit-cloudFacet,
.facet-container-horizontal .facet {
    display: inline-table;    
    vertical-align: top;
}


#build .facet {
    margin: 1em;
    min-width: 3em;
}
.facet-header .label {
    float: left;
    font-weight: bold;
}



.facet-body {
    margin: 0;
    padding: 5px;
}

.facet-content > div {
    line-height: 1.3em;
    margin: 3px 0;
}

.facet-menu {

}

.facet-menu .ui-icon.ui-icon-pencil {
    /*float: right;*/
    display: inline-block;
}

.facet-menu a {
    opacity: .5;
    text-decoration: none;
}

.facet-menu a:hover {
    opacity: 1;
}

.freemix-themeable .facet-content.ui-widget-content {
    border-top: 0;
}

.jquery-ui-themeswitcher-trigger {
margin-right: 20px;
margin-bottom: 10px;
}

.facet-header {
    margin: 0;
    /*padding: 5px;*/
}

.facet-header .ui-icon, .view-set .view .ui-icon-grip-dotted-vertical  {
    float: left;
}


.view-set .create-view-button {
    cursor: pointer;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-right: 30px;
    padding-left: 10px;
    height: 15px;
}

.view-set .create-view .ui-icon-grip-plus  {
    float: right;
}

.create-view-button, .create-facet-button {
font-weight: bold;
}

.view-set .create-view-button .label {
 float: left;
}

.create-view-button .ui-icon-plus  {
 float: right;
}


.ui-icon.delete-button {
    float: right;
}

.freemix-themeable .facet-content .ui-slider {
    margin: 5px 15px;
}

.create-facet-button {
    text-align: center;
}

.freemix-themeable .view-set .create-view {
    padding-left: 0;
}


.facet-container {
    min-height: 2.5em;
    list-style-type: none;
    position: relative;
}

.facet-container .create-facet {
    padding-bottom: 8px;
}


.rename-component-buttons {
    display: block;
    float: right;
    padding: 1em 0 1em 1em;
    position: relative;
}


/* dataset table */

.property-list-table {
    margin-top: 10px; 
    width: 99%;
}

.property-list-table tr th {
    vertical-align: middle;
}


.property-list-table tr th {
}

.property-list-table thead select {
    margin: 0.5em 0 0;
}

.property-list-table td.inner {
    width: 0.5em;
    text-align: center;
}

th.header-value, th.header-types, th.header-name, th.header-property, th.header-visible, th.header-title {
    border-left: 1px solid #666;
 }

th.header-value .col-header, th.header-name .col-header {
    margin: 5px 0px;
    position: absolute;
 }


/* cell widths */

.property-list-table td.types {
    width: 10%;
}

.property-list-table td.value, .property-list-table td.delete {
  background-color: #F5F5F5;
}

.property-list-table td.name {
    width: 25%;
}

.property-list-table td.enabled, .property-list-table td.visible {
    width: 10%;
    text-align: center;
}

.property-list-table td {
    border-bottom: 1px solid #ddd;
    padding: 0.5em;
}

.property-list-table tr.table-footer td {
    border: 0px;
    padding: 0;
}

.property-list-table td.name .changed {
    font-weight: bold;
}

.property-list-table .property-name-editable {
    display: inline;
}

.property-list-table .property-name-editable input {
    display: inline;
    width: 80%;
}

.property-name-editable button {
    margin: 5px 5px 0 0;
}

.property-name-editable button[type="submit"] {
    margin-left: 20px;
}

#build .editable,
body.dataprofile .property-row .name > span,
body.dataprofile .editable,
body.attraction #identify .property-row .name > span {
    background: url(../img/icon_edit_green.png) no-repeat left center;
    padding-left: 20px;
}

#identify .buttonset {
    float: right;
    margin: 1em 0 0 0;
}

.ui-sortable .property-row .name > span {
    background: transparent;
    padding-left: 0;
}

.property-row .name .augmented {
    color: #444;
    font-size: 0.9em;
}

.property-row .name p.augmented {
    margin: 0.5em 2em 0.25em 0;
}

.property-row .name ul.augmented {
    margin-left: 3em;
}

.delete-property-wrap {
    text-align: center;
    float: right;
}

.property-list-table thead th {
    padding: 0.5em;
    font-weight: bold;
}

.record-box .property-list-table thead th {
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
}

.record-view {
padding-top: 10px;
}

.property-list-table .title-link-option {
    display: none;
}

ul.identify-type-list {
    margin: 0;
    list-style: none;
}

ul.identify-type-list li{
    display: inline;
}

ul.identify-type-list li::after{
    content: ", ";
    white-space: pre;
}

ul.identify-type-list li:last-child::after{
    content: "";
    white-space: pre;
}

ul.identify-type-list + *{
    clear:left;
}

.identify-type-editor-buttons {
    margin: 20px 0 10px 0px;
    float: right;
}

a.identify-type-selector {
    text-decoration: none;
}

a.identify-type-selector:hover {
    text-decoration: underline;
}


/* Multiselect
----------------------------------*/

.ui-multiselect {
    border: solid 1px; font-size: 0.8em;
}

.ui-multiselect ul {
    float: none;
    -moz-user-select: none;
}

.ui-multiselect li {
    float:none;
    margin: 0;
    padding: 0;
    cursor: default;
    line-height: 20px;
    height: 20px;
    font-size: 11px;
    list-style: none;
}

.ui-multiselect li a {
    color: #999;
    text-decoration: none;
    padding: 0;
    display: block;
    float: left;
    cursor: pointer;
}

.ui-multiselect li.ui-draggable-dragging {
    padding-left: 10px;
}

.ui-multiselect div.selected {
    position: relative;
    padding: 0;
    margin: 0;
    border: 0;
    float:left;
}

.ui-multiselect ul.selected {
    position: relative;
    padding: 0;
    overflow: auto;
    overflow-x: hidden;
    background: #fff;
    margin: 0;
    list-style: none;
    border: 0;
    position: relative;
    width: 100%;
}

.ui-multiselect div.available {
    position: relative;
    padding: 0;
    margin: 0;
    border: 0;
    float:left;
    border-left: 1px solid;
}

.ui-multiselect ul.available {
    position: relative;
    padding: 0;
    overflow: auto;
    overflow-x: hidden;
    background: #fff;
    margin: 0;
    list-style: none;
    border: 0;
    width: 100%;
}

.ui-multiselect ul.available li {
    padding-left: 10px;
}
 
.ui-multiselect .ui-state-default {
    border: none;
    margin-bottom: 1px;
    position: relative;
    padding-left: 20px;
}

.ui-multiselect .ui-state-hover {
    border: none;
}

.ui-multiselect .ui-widget-header {
    border: none;
    font-size: 11px;
    margin-bottom: 1px;
}
 
.ui-multiselect .add-all {
    float: right;
    padding: 7px;
}

.ui-multiselect .remove-all {
    float: right;
    padding: 7px;
}

.ui-multiselect .count {
    float: left;
    padding: 7px;
}

.ui-multiselect li span.ui-icon-arrowthick-2-n-s {
    position: absolute;
    left: 2px;
}

.ui-multiselect li a.action {
    position: absolute;
    right: 2px;
    top: 2px;
}

.ui-multiselect input.search {
    float: left;
    height: 13px;
    opacity: 0.9;
    padding: 1px;
    margin: 4px;
    width: 90px;
}

form.uniForm .ctrlHolder.multiselect ul li {
    float:none;
}


/** 
 * fairly certain these get overridden by the theme
.freemix-themeable .ui-multiselect .ui-state-default { border: none; position: relative; padding-left: 20px; border-bottom: 1px solid #ccc;}
.freemix-themeable .ui-multiselect .ui-state-hover { border: none; border-bottom: 1px solid #ccc; }
 */

/* Builder flow */
#subnav ul.step-menu {
    float: left;
    margin: 0;
    padding: 0;
}

#subnav ul.step-menu li a {
    font-size: 1.1em;
    padding: 0.5em 2em 0.5em 1em;
}

#subnav ul.step-menu li a.step-completed {
    background: url(../img/orange-fade.png) repeat-x scroll 50% 50%;
}

#subnav ul.step-menu li a.step-selected {
    background: url(../img/orange-fade-arrow.png) no-repeat scroll right 50%;
    font-weight: bold;
    color: #222;
}

#subnav ul.step-menu li a span.step {
    font-weight: normal;
    color: #555;
}

/* multiselect styles */
.multiselect {
    width: 460px;
    height: 200px;
}

a.field_type {
    text-decoration: none;
}

ul.field_options {
    clear: left;
    padding-top: 10px;
}

ul.field_options li {
    display: inline;
    list-style-type: none;
width: 113px;
}

ul.field_options li span.field_type_text {
    color: black;
    font-weight: bold;
    font-size: 110%;
    position: relative;
    text-align: center;
    top: -30px;
    left: 10px;
}

#div_id_type li img {
    width: 103px;
    height: 66px;
    padding: 5px;
}

#div_id_type li a:selected {
    border: 2px solid black;
    padding: 50px;
    width: 100px;
    height: 66px;
}

#publish-success,
#publish-failure {
    padding: 1em;
}

.paging_two_button .fg-button {
	float: left;
	cursor: pointer;
	* cursor: hand;
}

.paging_full_numbers .fg-button {
	padding: 2px 6px;
	cursor: pointer;
	* cursor: hand;
}

.paging_full_numbers {
	width: 350px !important;
}

.fg-toolbar {
	padding: 5px;
}

.dataTables_paginate {
	width: auto;
}

.dataTables_wrapper table thead th {
	padding: 3px 0px 3px 10px;
	cursor: pointer;
	* cursor: hand;
}


.dataTables_wrapper {
	position: relative;
	/* min-height: 302px; */
	clear: both;
	/* _height: 302px; */
	zoom: 1; /* Feeling sorry for IE */
}

.dataTables_processing {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 250px;
	height: 30px;
	margin-left: -125px;
	margin-top: -15px;
	padding: 14px 0 2px 0;
	border: 1px solid #ddd;
	text-align: center;
	color: #999;
	font-size: 14px;
	background-color: white;
}

.dataTables_length {
	width: 40%;
	float: left;
}

.dataTables_filter {
	width: 50%;
	float: right;
	text-align: right;
}

.dataTables_info {
	width: 40%;
	float: left;
}

.dataTables_paginate {
	width: 44px;
	* width: 50px;
	float: right;
	text-align: right;
}

.dataTables_wrapper table {
	margin: 0 auto;
	clear: both;
	width: 100%;
	
	/* Note Firefox 3.5 and before have a bug with border-collapse
	 * ( https://bugzilla.mozilla.org/show%5Fbug.cgi?id=155955 ) 
	 * border-spacing: 0; is one possible option. Conditional-css.com is
	 * useful for this kind of thing
	 *
	 * Further note IE 6/7 has problems when calculating widths with border width.
	 * It subtracts one px relative to the other browsers from the first column, and
	 * adds one to the end...
	 *
	 * If you want that effect I'd suggest setting a border-top/left on th/td's and 
	 * then filling in the gaps with other borders.
	 */
}

.dataTables_wrapper table tr.heading2 td {
	border-bottom: 1px solid #aaa;
}

.dataTables_wrapper table td {
	padding: 3px 10px;
}

.dataTables_wrapper table td.center {
	text-align: center;
}


tr.odd {
	background-color: #E2E4FF;
}

tr.even {
	background-color: white;
}


/* thumbnail gallery display */

.view-form {
    margin-top: 4em;
}

.view-form fieldset>div {
    padding: 0.5em;
    font-weight: bold;
}

.view-form select, .view-form input {
    width: 120px;
    float: right;
    margin-right: 120px;
}

#thumbnail_title_link {
padding-bottom: 12px;
}

/* styling widget editing and preview dialogs */

.facet-editor-pane-title, .view-editor-pane-title {
  font-size: 110%;
  font-weight: bold;
  border: 1px solid lightgrey;
  background: white;
  margin-left: 10px;
  padding: 3px 3px 3px 3px;
  position: absolute;
  margin-top: -10px;
}

.facet-preview, .view-preview {
  margin-top: 10px;
  margin-right: 20px;
  background-color: #F5F5F5;
  border: 1px solid lightgrey;
}

.view-lens-properties {
  margin-top: 10px;
  margin-right: 20px;
  padding-bottom: 10px;
  background-color: #F5F5F5;
  border: 1px solid lightgrey;
}


.facet-preview .facet-edit-body, .view-preview .view-edit-body {
padding: 20px 10px 0px 10px;
margin-right: 20px;
}

.facet-properties .facet-edit-body {
padding-left: 10px;
padding-top: 10px;
}

.list-view-editor, .map-view-editor, .scatterplot-view-editor, .table-view-editor, .timeline-view-editor, .piechart-view-editor, .thumbnail-view-editor {
  border: 1px solid lightgrey;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.view-properties .view-edit-body {
padding-left: 10px;
padding-top: 10px;
}

.view-lens-properties .view-edit-body {
padding-left: 10px;
padding-top: 10px;
}


.facet-properties .text-entry input {
width: 80%;
}

.facet-properties .pull-down select {
width: 90%;
}

.facet-properties .slider input {
margin-left: 10px;
}

.facet-properties .slider {
border-bottom: 3px solid lightgrey;
width: 90%;
}

.search-facet-editor .facet-properties, .search-facet-editor .facet-preview {
height: 90px;
}

.list-facet-editor .facet-properties, .list-facet-editor .facet-preview {
height: 180px;
}

.tagcloud-facet-editor .facet-properties, .tagcloud-facet-editor .facet-preview {
height: 180px;
}

.slider-facet-editor .facet-properties, .slider-facet-editor .facet-preview {
height: 150px;
}

.numeric-facet-editor .facet-properties, .numeric-facet-editor .facet-preview {
height: 200px;
}

.logo-facet-editor .facet-properties, .logo-facet-editor .facet-preview {
height: 280px;
}

.text-facet-editor .facet-properties, .text-facet-editor .facet-preview {
height: 300px;
}

.text-facet-editor textarea {
width: 90%;
height: 230px;
margin-top: 10px;
padding-right: 0px;
}


/* reset layout for editor */

.col1,
.col2,
.col3 {
      float: left;
      position: relative;
      padding: 0 0 0 0;
}

/* remove spurious banner on top of editing pane */

.exhibit_edit {
margin-top: -22px;
}