p {
    line-height: 1.5em;
}

h2.after {
    margin-top: 3em;
}

.featured_component {
    border-bottom: 1px solid #ddd;
    margin: 1em 3em;
    padding: 1em 0;
}

.featured_component h3 {
    clear: left;
    font-size: 1.0em;
    float: left;
    margin: 0;
}

.featured_component p {
    clear: left;
    float: left;
    margin: 0.5em 0;
    width: 65%;
}

.example_thumb {
    float: right;
    clear: right;
}
