/* Inspector style
 * This file eventually will include all of the inspector display css
 */

/* trim down functionality associated with resources related to the one being inspected */

.exhibit-actions .action_delete_exhibit, .dataset-actions .action_create_dataset, .dataset-actions .action_delete_dataset {
  display: none;
}



ul.connection_list {
    margin-left: 0px;
    padding: 5px 10px;
}

ul.connection_list li {
    list-style-type: none;

}

/* styling connections */

.user_profile_entry .user_data_entry {
}

.user_profile_entry .user_stats {
 font-size: 95%;
}

.user_profile_entry .user_data_entry {
padding-top: 5px;
}

.user_profile_entry .user_data_entry .user_name {
  background: transparent url(../images/person-24.png) top left no-repeat;
   font-size: 100%;
   font-weight: bold;
   position:absolute;
   margin-top: 5px;
   padding-bottom: 10px;
   padding-left: 30px;
}

.user_profile_entry .user_data_entry .user_location {
 display: none;
}

.user_profile_entry .user_stats {
 border: 1px solid lightgrey;
 font-size: 90%;
 float: right;
 padding: 5px 10px 5px 10px;
}

.profile_left_panel {
    float: left;
    width: 20%;
}

.profile_right_panel {
    float: left;
}

/* shared keys */

