/* css used to render friends list of users on the profile page */

ul.connection_list {
    margin-left: 0px;
    list-style-type: none;
}

.user_profile_entry {
    padding: 5px 5px 5px 10px;
}

div.user_data_entry .user_name .value {
    font-weight: bold;
    font-size: 100%;
}

div.user_data_entry .user_counts {
    display: block;
}

div.user_data_entry .user_counts .user_datasets,
div.user_data_entry .user_counts .user_dataviews {
    display: inline;
}

div.user_data_entry .user_description {
    display: none; /* don't display user description of friends */
}

div.user_data_entry .user_bottom {
    display: none;
}

.profile_left_panel {
    float: left;
    width: 56px;
}

.profile_right_panel {
    float: right;
    width: 75%;
}
