<form id="create-property-form" class="form">
  <fieldset>
    <legend>
       <i class="fa fa-check-circle fa-lg"></i> New data is being generated
    </legend>

    <div class="row-fluid">
      <div class="prose">
	New data is being currently being generated. Depending on the size of your data, this may take a bit of time. Please be patient.
      </div>
    </div>

    <br />
    <div class="row-fluid">	
      <div class="progress progress-striped active">
	<div class="bar" style="width: 100%;"></div>
      </div>
    </div>

  </fieldset>
</form>
