<form id="create-property-form" class="form">
  <fieldset>
    <legend>
       <i class="fa fa-exclamation-circle fa-lg"></i> Error creating new data
    </legend>

    <br />
    <div class="row-fluid">
      <div class="prose">
	<div class="alert alert-error error-message">{{ message }}</div>	
      </div>
    </div>

    <br />
    <div class="row-fluid">
      <button id="property_cancel_button" class="btn" type="button"  aria-hidden="true">I'd like to add try again
      </button>
    </div>

  </fieldset>
</form>

