<form id="create-property-form" class="form">
  <fieldset>
    <legend>
       <i class="fa fa-exclamation-circle fa-lg"></i> Unable to generate new data
    </legend>

    <br />
    <div class="row-fluid">
      <div class="prose">
        <div class="alert alert-info">{{ message }}</div>
      </div>
    </div>

    <br />
    <div class="row-fluid">
      <button id="property_cancel_button" class="btn" type="button"  aria-hidden="true">I'd like to try again
      </button>
    </div>

  </fieldset>
</form>

