<form id="create-property-form" class="form">
  <fieldset>
    <div class="row-fluid">
      <div class="prose">
        The new property has been successfully loaded.  The preview to the right shows the created coordinates.
      </div>
    </div>

    <div class="row-fluid">
      <button id="property_accept_button" class="btn btn-primary">Looks good</button>
      <button id="property_cancel_button" type="button"  aria-hidden="true">Try again
      </button>
    </div>

    <br/>
  </fieldset>
</form>