<form class="form">

  <fieldset>

    <div class="container-fluid">

      <div class="row-fluid">
        <legend class="view-settings-label">Bar Chart View Settings</legend>
      </div>

      <div class="row-fluid">

        <div class="span5 view-variables">

          <div class="control-group">
            <label class="control-label" for="view_label_input">Label</label>

            <div class="controls">
              <div class="input-append">
                <input type="text" id="view_label_input"/>
              </div>
              <span class="help-inline">Freetext title of view</span>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="property_list">Properties</label>

            <div class="controls" id="property_list"></div>
          </div>

          <legend class="lens-settings-label">Lens Settings</legend>

          <div class="control-group">
            <div id="lens_editor">

              <!-- inject lens -->

            </div>
          </div>

        </div>
        <!-- end view-variables -->


      </div>
      <!-- end row -->

    </div>
    <!-- end container -->

  </fieldset>

</form>
