

    <div class="view-variables">

      <div class="container-fluid">

        <div class="accordion" id="accordionView">

          <div class="accordion-group">

            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionView" href="#collapseEdit">
                <div class="view-settings-label">Timeline View Settings</div>
              </a>
            </div>

            <div id="collapseEdit" class="accordion-body collapse">

            </div>
            <!-- end accordion-body -->
          </div>
          <!-- end accordion-group -->

          <div class="accordion-group">

            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionView" href="#collapseAugment">
                <div class="view-settings-label">Format your Timeline data</div>
              </a>
            </div>

            <div id="collapseAugment" class="accordion-body collapse">

            </div>

          </div>
          <!-- end accordion-group -->

        </div>
        <!-- end accordion -->


      </div>
      <!-- end container-fluid -->

    </div>
    <!-- end view variable -->

