{% load i18n %}
{% load pagination_tags %}
{% load exhibit_tags %}
{% autopaginate object_list max_count %}

{% if object_list %}
{% if pageable %} 
<div class="help-inline">
  <span class="sort-label">{% trans "Sort by:" %}</span>
  <span class="btn-group">
    {% if sort == "created" or sort == None %}
    <a class="btn btn-small active" href="#">{% trans "Created" %}</a>
    {% else %}
    <a class="btn btn-small" href="{{request.path}}?sort=created">{% trans "Created" %}</a>
    {% endif %}
    {% if sort == "modified" %}
    <a class="btn btn-small active" href="#">{% trans "Modified" %}</a>
    {% else %}
    <a class="btn btn-small" href="{{request.path}}?sort=modified">{% trans "Modified" %}</a>
    {% endif %}
    {% if sort == "title" %}
    <a class="btn btn-small active" href="#">{% trans "Title" %}</a>
    {% else %}
    <a class="btn btn-small" href="{{request.path}}?sort=title&dir=asc">{% trans "Title" %}</a>
    {% endif %}

  </span>
</div>
{% endif %}

<ul class="exhibit_list_items">
  {% for exhibit in object_list %}
  {% exhibit_list_item exhibit %}
  {% endfor %}
</ul>
{% if pageable %}{% paginate %}{%endif%}
{% include "exhibit/exhibit_delete_dialog.html" %}
{%endif %}
