{% load i18n %}

<script type="text/template" class="record-view" id="list-view-template">
                    
  <div class="list-view-editor">

    <div class="well view-settings">
      
      <form class="form-horizontal">

        <fieldset>
          
          <div class="container-fluid">          

            <div class="row-fluid">          

              <div class="span8">

                <legend class="freemix-fieldset-legend">{% trans "List View Settings" %}</legend>

              </div>
              
              <div class="span4">

                <div class="pull-right">
                  
                  {%include "exhibit/edit/lenses/lens_selector.html" %}

                </div>
                
              </div> <!-- end span -->
            
            </div> <!-- end row -->
            
          </div> <!-- end container -->

          <div class="container-fluid">          
            
            <div class="row-fluid">          
              
              <div class="span5 view-variables">
                
                <div class="control-group">
                  <label class="control-label" for="view_label_input">{% trans "Label" %}</label>
                  <div class="controls">
                    <div class="input-append">
                      <input type="text" id="view_label_input"/>
                    </div>
                    <span class="help-inline">{% trans "Freetext title of view" %}</span>
                  </div>
                </div>
                
                <div class="control-group">
                  <label class="control-label" for="sort_property">{% trans "Sort By" %}</label>
                  <div class="controls">
                    <select id="sort_property"></select>
                    <select id="sort_order" name="sort_order" class="sort-order input-medium inline">
                      <option value="ascending">{% trans "Ascending" %}</option>
                      <option value="descending">{% trans "Descending" %}</option>
                    </select>
                  </div>
                </div>
                
              </div> <!-- end view-variables -->
                            
              <div class="span7 view-preview">
                
                <div class="well view-preview-pane list-view-preview-pane"></div>
                
              </div>
              
            </div> <!-- end row -->
            
          </div> <!-- end container -->

        </fieldset>
        
      </form>
      
    </div>

  </div> <!-- end list-view-editor -->

</script> <!-- record-view -->

