{% load i18n %}

<script type="text/template" class="record-view" id="table-view-template">

      <form class="form">
        
        <fieldset>
          
          <div class="container-fluid">          
            
            <div class="row-fluid">          

              <div class="span5 view-variables">

                <legend class="freemix-fieldset-legend">{% trans "Table View Settings" %}</legend>
          
                <div class="control-group">
                  <label class="control-label" for="view_label_input">{% trans "Label" %}</label>
                  <div class="controls">
                    <div class="input-append">
                      <input type="text" id="view_label_input"/>
                    </div>
                    <span class="help-inline">{% trans "Freetext title of view" %}</span>
                  </div>
                </div>
                
                <div class="control-group">
                  <label class="control-label" for="sort_property">{% trans "Sort By" %}</label>
                  <div class="controls">
                    <select id="sort_property"></select>
                    <select id="sort_order" name="sort_order" class="sort-order input-medium inline">
                      <option value="ascending">{% trans "Ascending" %}</option>
                      <option value="descending">{% trans "Descending" %}</option>
                    </select>
                  </div>
                </div>
                
                <div class="control-group">
                  <label class="control-label" for="property_list">{% trans "Columns" %}</label>
                  <div class="controls">
                    <select id="property_list" multiple="multiple"></select>
                  </div>
                </div>
                
              </div> <!-- end view-variables -->

            </div> <!-- end row -->
            
          </div> <!-- end container -->
          
        </fieldset>
      </form>

</script> <!-- record-view -->
