{% load i18n %}
<div class="record-view" id="thumbnail-view-template">

  <div class="thumbnail-view-editor">
    
    <div class="view-properties">

      <div class="view-edit-body">

        <form>
          <fieldset>
            <legend>{% trans "Thumbnail View Settings" %}</legend>
            
            <div id="view_label" class="control-group">
              <label for="view_label_input">{% trans "Label" %}</label>
              <input type="text" id="view_label_input"/>
            </div>

            <div class="control-group">
              <label for="sort_property">{% trans "Sort By" %}</label>
              <select id="sort_property"></select>
            </div>
            
            <div class="ctrlHolder pull-down">
              <label for="sort_order">{% trans "Sort Order" %}</label>
              <select id="sort_order" name="sort_order" class="sort-order">
                <option value="ascending">{% trans "Ascending" %}</option>
                <option value="descending">{% trans "Descending" %}</option>
              </select>
            </div>

          </fieldset>
        </form>

      </div>
    </div>

    <div class="record-box view-lens-properties">

      <div class="view-edit-body">

        <form>
          <fieldset>
            <legend>{% trans "List Lens Settings" %}</legend>

            <div id="thumbnail_image" class="control-group">
              <label for="image_property">{% trans "Image" %}</label>
              <select id="image_property"></select>
            </div>

            <div id="thumbnail_title" class="control-group">
              <label for="title_property">{% trans "Title" %}</label>
              <select id="title_property"></select>
            </div>

            <div id="thumbnail_title_link" class="control-group">
              <label for="title_link_property">{% trans "Link" %}</label>
              <select id="title_link_property"></select>
            </div>

          </fieldset>
        </form>
        
      </div>
    </div>

  </div>
  <!-- end thumbnail-view-editor -->

</div>

