{% load i18n %}
<div class="record-view" id="timeline-view-template">

  <div class="timeline-view-editor">

    <div class="view-properties">

      <div class="view-edit-body">

	<form class="form-horizontal">
	  <fieldset>
            <legend>{% trans "Timeline View Settings" %}</legend>
            
            <div id="view_label" class="control-group">
              <label class="control-label" for="view_label_input">{% trans "Label" %}</label>
              <div class="controls">
                <input type="text" id="view_label_input"/>
              </div>
            </div>

            <div class="control-group">
             <label class="control-label" for="start_property">{% trans "Start Date" %}</label>
             <div class="controls">
               <select id="start_property"></select>
             </div>
           </div>

	   <div class="control-group">
             <label class="control-label" for="end_property">{% trans "End Date" %}</label>
             <div class="controls">
               <select id="end_property"></select>
             </div>
           </div>

           <div class="control-group">
	     <label class="control-label" for="color_property">{% trans "Color Key" %}</label>
             <div class="controls">
	       <select id="color_property"></select>
             </div>
	   </div>
	   
           <div class="control-group">
             <label class="control-label" for="top-band-unit">{% trans "Top band time units" %}</label>
             <div class="controls">
               <select id="top-band-unit">
                 <option value="">auto</option>
                 <option value="millisecond">millisecond</option>
                 <option value="second">second</option>
                 <option value="minute">minute</option>
                 <option value="hour">hour</option>
                 <option value="day">day</option>
                 <option value="week">week</option>
                 <option value="month">month</option>
                 <option value="year">year</option>
                 <option value="decade">decade</option>
                 <option value="century">century</option>
                 <option value="millennium">millennium</option>
               </select>
             </div>
           </div>
	   
           <div class="control-group">
             <label class="control-label" for="bottom-band-unit">{% trans "Bottom band time units" %}</label>
             <div class="controls">
               <select id="bottom-band-unit">
                 <option value="">auto</option>
                 <option value="millisecond">millisecond</option>
                 <option value="second">second</option>
                 <option value="minute">minute</option>
                 <option value="hour">hour</option>
                 <option value="day">day</option>
                 <option value="week">week</option>
                 <option value="month">month</option>
                 <option value="year">year</option>
                 <option value="decade">decade</option>
                 <option value="century">century</option>
                 <option value="millennium">millennium</option>
               </select>
             </div>
           </div>

	  </fieldset>
	</form>

      </div>
    </div>
    
    <div class="record-box view-lens-properties">

      <div class="view-edit-body">

	<form class="form-horizontal">
	  <fieldset>      
            <legend>{% trans "Timline Lens Settings" %}</legend>

            <div class="control-group">
              <label class="control-label" for="title_property">{% trans "Title" %}</label>
              <div class="controls">
                <select id="title_property"></select>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="title_link_property">{% trans "Link" %}</label>
              <div class="controls">
                <select id="title_link_property"></select>
              </div>
            </div>

	  </fieldset>
	</form>
	
        <table class="property-list-table table table-condensed table-striped">
          <thead class="ui-widget-header ui-corner-top">
            <tr>
              <th class="visible">{% trans "Show" %}</th>
              <th class="property">{% trans "Property" %}</th>
              <th class="value">{% trans "Value" %}
                <span class="record-pager btn-group">
                  <button class="btn btn-small left-record-button" title="{% trans "Previous Record" %}"><i class="icon-arrow-left"></i></button>
                  <button class="btn btn-small counter disabled" disabled="disabled"><span id="current-record">#p</span> of <span id="record-count">#t</span></button>
                  <button class="btn btn-small right-record-button" title="{% trans "Next Record" %}"><i class="icon-arrow-right"></i></button>
                </span>
              </th>
            </tr>
          </thead>

          <tbody></tbody>

          <tfoot>
            <tr class='table-footer'>
              <td colspan="3">
                <div class="record-controls">
                  <span class="record-pager btn-group">
                    <button class="btn btn-small left-record-button" title="{% trans "Previous Record" %}"><i class="icon-arrow-left"></i></button>
                    <button class="btn btn-small counter disabled" disabled="disabled"><span id="current-record">#p</span> of <span id="record-count">#t</span></button>
                    <button class="btn btn-small right-record-button" title="{% trans "Next Record" %}"><i class="icon-arrow-right"></i></button>
                  </span>
                </div>
              </td>
            </tr>
          </tfoot>

	</table>

      </div>
    </div> <!-- end view-lens-property -->
    
  </div> <!-- end list-view-editor -->
  
</div>
