syntax:glob
*.pyc
*.db
local_settings.py
.hgignore
userdata
eggs
develop-eggs
parts
.installed.cfg
bin
downloads
.project
.pydevproject
.settings
lib/python*
.Python
include/python*
*.egg-info
*.swp
.DS_Store
/media/*
/static/*
/upload/*
*.db*
local_settings.py
.mo
dist/*
MANIFEST
/build/*
.hg/*
.hgtags
celerybeat-schedule
celerybeat.pid
