include setup.py README MANIFEST.in
global-include fixtures/*

graft recollection/templates
graft recollection/static
graft requirements
graft recollection/locale
graft test
graft docs
graft akara
graft freemix/templates
graft freemix/static

graft simile/static
graft simile/templates

graft viewshare/static
graft viewshare/templates

recursive-include recollection/*/templates *
recursive-include recollection/*/static *

recursive-include recollection/apps/*/templates *
recursive-include recollection/apps/*/static *

recursive-include freemix/*/static *
recursive-include freemix/*/templates *

recursive-include freemix/dataset/*/static *
recursive-include freemix/dataset/*/templates *


recursive-include freemix/exhibit/*/static *
recursive-include freemix/exhibit/*/templates *


recursive-include viewshare/*/static *
recursive-include viewshare/*/templates *


prune recollection/site_media
prune docs/_build
