include setup.py README MANIFEST.in geonames.sqlite3
global-include fixtures/*

graft viewshare/templates
graft viewshare/static
graft requirements
graft viewshare/locale
graft test
graft docs
graft akara
graft freemix/templates
graft freemix/static

graft simile/static
graft simile/templates

graft viewshare/static
graft viewshare/templates

recursive-include viewshare/*/templates *
recursive-include viewshare/*/static *

recursive-include viewshare/apps/*/templates *
recursive-include viewshare/apps/*/static *

recursive-include freemix/*/static *
recursive-include freemix/*/templates *

recursive-include freemix/dataset/*/static *
recursive-include freemix/dataset/*/templates *


recursive-include freemix/exhibit/*/static *
recursive-include freemix/exhibit/*/templates *


recursive-include viewshare/*/static *
recursive-include viewshare/*/templates *


prune viewshare/site_media
prune docs/_build
