{% load i18n %}
<div id="logo-facet-editor">

    <div class="colmask doublepage widget-edit-dialog logo-facet-editor">
      <div class="colleft">

        <div class="col1 facet-properties ui-state-highlight">
          <label class="facet-editor-pane-title">{% trans "Settings" %}</label>
 	  <div class="facet-edit-body">
            <form class="uniForm">
              <fieldset>
                <div id="div_id_src" class="ctrlHolder text-entry">
                  <p class='errorField ui-helper-hidden'>Enter a valid image URL.</p>
                  <label for="id_src">{% blocktrans %}Image&nbsp;URL:{% endblocktrans %}</label>
                  <input id="id_src" class="textinput" type="text"  name="src"/>
                </div>
                <div id="div_id_alt" class="ctrlHolder text-entry">
                  <label for="id_alt">{% blocktrans %}Alternate&nbsp;Text:{% endblocktrans %}</label>
                  <input id="id_alt" type="text" name="alt"/>
                </div>
                <div id="div_id_href" class="ctrlHolder text-entry">
                  <label for="id_href">{% blocktrans %}Destination&nbsp;URL:{% endblocktrans %}</label>
                  <input id="id_href" class="textinput" type="text"  name="href"/>
                </div>
                <div id="div_id_slider" class="inlineLabels ctrlHolder slider">
                  <label for="logo-facet-size">{% trans "Dimension" %}:</label>
                  <input id="logo-facet-size" type="text" size="3"/>
                  <div id="logo-facet-slider"></div>
                </div>
              </fieldset>
            </form>
	  </div>
        </div>

        <div class="col2 facet-preview">
          <label class="facet-editor-pane-title">{% trans "Preview" %}</label>
	  <div class="facet-edit-body">
            <div class="ui-widget-content ui-corner-all" id="facet-preview"></div>
          </div>
	</div>

      </div>
    </div>

</div>
