 {% load i18n %}
 {% load freemix_helpers %}
 {% url shared_exhibit_display slug=key.slug as display_url %}
<li class="shared_key_list_item result_set_item clearfix">
    <div class="shared-key-label">
        <a href="{{ display_url }}">
            {% if key.label %}
                {{ key.label }}
            {% else %}
                {{ key.slug }}
            {% endif %}
        </a>
    </div>

    <div class="shared-key-prose">{% trans "Copy the following link to share with others." %}</div>

    <input type="text" value="{% site_url display_url %}" class="shared-key-url" readonly="readonly"/>

   <div class="shared-key-metadata shared-key-left">
     {% trans "Created by"%} <span class="exhibit-creator"><a href="{% url profile_detail exhibit.owner.username %}">{{exhibit.owner|nicename}}</a></span>.
   </div>

    <div class="shared-key-right">
        <div class="shared-key-actions shared-key-right">
            <div class="shared-key-links">
                <span class="action action_delete_key">
                    <a class="shared_key_delete" href="{{ display_url }}">{% trans "Delete" %}</a>
                </span>
            </div>
        </div>
    </div>
</li>
