<div xmlns:ex="http://simile.mit.edu/2006/11/exhibit#">
    <div class="exhibit-wrap">
        <div class="row-fluid">
            <div id="top-facets" class="span12 facet-container facet-container-horizontal"></div>
        </div>
        <div class="row-fluid">
            <div id="left-facets" class="span2 facet-container"></div>
            <div id="views" class="view-container view-default" data-ex-role="viewPanel">
            </div>
            <div id="right-facets" class="span2 facet-container"></div>
        </div>
    </div>
</div>