body {
    background: #fff top left repeat-x url(images/background.gif);
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 10pt;
    color: #000;
}

a {
    color: rgb(0, 176, 216);
}

#header #application-logo {
    background-image: url(images/viewshare-logo.png);
    width: 272px;
}

.homeimage {
    float: left;
}

#footer {
margin-top: 10px;
}

#footer #lc-logo {
    background-image: url(images/lc-logo.png);
    background-repeat: no-repeat;
    background-position:left bottom;
    width: 158px;
    height: 20px;
    padding-left: 158px;
    padding-top: 10px;
    padding-bottom: 4px;
    margin-left: 3px;
    margin-right: 5px;
}

#footer #z-logo {
    background-image: url(images/z-logo.png);
    background-repeat: no-repeat;
    background-position:left center;
    width: 72px;
    height: 24px;
    padding-left: 72px;
    padding-top: 10px;
    padding-bottom: 2px;
    margin-left: 3px;
}

#footer .sponspornav a {
text-decoration:none;
}

#footer .left {
float: left;
padding-left: 25px;
}

#footer .right {
float: right;
padding-right: 20px;
}

#versions {
opacity:0.0;
filter: alpha(opacity=0);
}

.primarydisc {float: left; margin-left:20px;}

.primarydisc p{width: 280px; margin-top: 0px; font-size: 150%;}

.linkblock {
text-decoration: none; font-size:1.1em;font-weight:bold;width:245px;list-style:none;padding:1em; margin-top:.5em;}

#first
{background-color:#00993D;color:white; }

#second
{background-color:#5582A1;color:black;}

#third
 {background-color:#405777;color:white}

.stepblock
{height:110px; margin-top:10px; padding-left:1.5em; padding-right:1.5em; line-height:1.1em}
