{% extends "site_base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block body %}
  <div id="issue_create_content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3>{% trans "Report a Data Loading Problem" %}</h3>
    </div>
    <form action="{{ request.path }}" method="post" class="uniForm">

      <div class="modal-body">
        <fieldset class="inlineLabels">
          {% csrf_token %}
          {{ form|crispy }}
        </fieldset>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary">{% trans "Send Report" %}</button>
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      </div>
    </form>

    <div class="support-spinner progress progress-striped active hide">
      <div class="bar" style="width: 100%;"></div>
      <p>{% blocktrans %}Requesting ticket, please be patient.{% endblocktrans %}</p>
    </div>
  </div>
{% endblock %}


