{% extends "site_base.html" %}
{% load url from future %}

{% load i18n %}  

{% block head_title %}{% trans "Notices" %}{% endblock %}

{% block rtab_id %}id="notices_tab"{% endblock %}

{% block messages-tab-selected %} ui-tabs-selected ui-state-active{% endblock %}

{% block subnav %}
<li class="{% block notices-tab-selected %}{% endblock %}"><a href="{% url 'notification_notices' %}">{% trans "Notices" %}{% if notice_unseen_count %} ({{ notice_unseen_count }}){% endif %}</a></li>
<li class="{% block invitations-tab-selected %}{% endblock %}"><a href="{% url 'invitations' %}">{% trans "Invitations" %}{% if invitations_count %} ({{ invitations_count }}){% endif %}</a></li>
{% endblock %}
