{% load url from future %}
{% load i18n %}
{% load viewshare_helpers %}
{% load connection_helpers %}
{% load humanize %}

<div id="about-box" class="info-section widget-well">

  <div class="widget-header">
    <div class="row-fluid">
      <div class="span10">
	<h2>{% blocktrans %}View{% endblocktrans %}</h2>
      </div>
      <div class="span2">
	<div class="pull-right">
	  <div class="widget-links btn-group">

	    {% if request.user.is_authenticated %}
	    
	    <a class="exhibit_clone btn btn-small btn-info" href="{% url 'exhibit_clone' slug=exhibit.slug owner=exhibit.owner.username %}">{% trans "Clone" %}</a>
	    
	    {% endif %}

	  </div>
	</div>
      </div>
    </div>
  </div>

  <div class="row-fluid">

    <div class="span4">
      <div class="view_avatar">
	<span class="fa-stack fa-4x">
	  <i class="fa fa-desktop fa-stack-2x"></i>
	  <i class="fa fa-list fa-stack-1x app-offset-lg"></i>
	  </span>
      </div>
    </div>

    <div class="span8">
      <div class="inspector_info profile_info">

	<div class="about_name"><a href="{{  exhibit.get_absolute_url }}">{{exhibit.title}}</a></div>

	<div class="exhibit-metadata">
	  <div class="exhibit-created-by"><span class="property-label">{% trans "Owner:" %} </span> <a href="{% url 'profile_detail' object.owner.username %}">{{ object.owner.username }}</a></div>
	  <div class="exhibit-created-on"><span class="property-label">{% trans "Created:" %} </span>{{ object.created|naturalday}}</div>
	  <div class="exhibit-last-modified"><span class="property-label">{% trans "Last Modified:" %} </span>{{ object.modified|naturalday}}</div>
	</div>

      </div>
    </div>

  </div>

  <div class="row-fluid">
    <div class="span12">
      {% if object.description %}
      <div class="exhibit-description bubble">{{ object.description }}</div>
      {% endif %}
    </div>
  </div>

  <div class="row-fluid">

    <div class="span10">
      <div class="exhibit-acls">
	{% if object.is_public %}
	<div class="public"><span class="public-icon"><i class="fa fa-unlock-alt fa-lg"></i></span><span class="view-label">{% trans "This view is public" %}</span></div>
	{% else %}
	<div class="private"><span class="private-icon"><i class="fa fa-lock fa-lg"></i></span><span class="view-label">{% trans "This view is private" %}</span></div>
	{% endif %}
      </div>
    </div>

    <div class="span2 pull-right">

      {% if can_edit %}
      <div class="about_edit">
	{% if is_saved %}
	<span class="inline_save_message">{% trans "Saved" %}</span>
	{% endif %}
	<div class="profile-actions">
          <div class="profile-links btn-group">
	    <a href="#editExhibitModal" role="button" data-toggle="modal" rel="{% url 'exhibit_edit_form' owner=object.owner slug=object.slug %}" id="detail_edit_button" class="btn btn-small"><i class="fa fa-edit fa-lg"></i>{% trans " Edit" %}</a>
	  </div>
	</div>
      </div>

      <div id="editExhibitModal" class="edit_exhibit_dialog modal modal-fit hide fade" tabindex="-1" role="dialog" aria-labelledby="myEditExhibitModalLabel" aria-hidden="true">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h3 id="myDeleteModalLabel">{% trans "Edit View Metadata" %}</h3>
        </div>
        <div id="edit_exhibit_form_template" class="modal-body">
        </div>
      </div>

      {% endif %}
    </div>
  </div>

</div> <!-- end about-box -->
