/* Vanilla Exhibit style */

.exhibit-collectionView-body h1 {
    font-family: 'Ubuntu', Helvetica, Arial, sans-serif;	
    font-weight: normal;
    font-size: 2.0em;
    color: grey;
    background: #F8F8F8;
    margin-top: 3px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 20px;
    padding-left: 20px;
   -moz-border-radius:5px;
   -webkit-border-radius:5px;
    border: 1px solid #eee;
}


/* include jquery ui match until library removed */

.exhibit-collectionView-group-content .exhibit-title, .exhibit-collectionView-group-content .ui-widget-header, .ui-widget-header {
    border: none;
    font-size: 1.3em;
    background: none;
    color: black; 
    font-weight: bold; 
    padding-left: 0px
    padding-bottom: 3px;
    border-bottom: 1px solid lightgrey;
}

}

.exhibit-collectionView-group-count {
}

ol.exhibit-tileView-body > li {
    list-style: none;
}

ol.exhibit-tileView-body {
    margin: 0;
    padding: 0;
}

div.exhibit-collectionView-header-sortControls {
}


