body {
    background: #b6cad7;
    font-family: "Georgia", serif;
    font-size: 9pt;
    color: #111;
}

a {
    color: #0090f8;
}

#header #application-logo {
    background-image: url(images/ndiipp-logo.jpg);
    width: 290px;
}
