{% extends "site_base.html" %}

{% load i18n %}
{% load exhibit_tags %}
{% load freemix_helpers %}
{% load compress %}
{% load dataset_tags %}

{% block head_title %}{{ object.title }}{% endblock %}

{% block rtab_id %}id="builder_tab"{% endblock %}
{% block body_class %}main-attraction{% endblock %}
{% block head_data %}
{{ block.super }}
<link rel="exhibit/data" href="{% url dataset_data_json owner=object.dataset.owner.username slug=object.dataset.slug %}"/>
<link rel="exhibit/data" href="{% url dataset_properties_cache_json owner=object.dataset.owner.username slug=object.dataset.slug %}"/>

<link rel="freemix/dataprofile" href="{% url dataset_profile_json owner=object.dataset.owner.username slug=object.dataset.slug %}"/>
<link rel="freemix/exhibit_profile" href="{% url exhibit_profile_json owner=object.owner.username slug=object.slug %}"/>
{% endblock %}

{% block head_scripts %}
    {{ block.super }}
    {% include "freemix/js_include/jquery_ui.html" %}
    {% include "simile/js/exhibit.html" %}
    {% include "simile/js/exhibit_extensions.html" %}


    {% include "freemix/js_include/viewer.html" %}
    {% compress js %}
    <script type="text/javascript" src="{{STATIC_URL}}freemix/js/freemix.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}freemix/js/exhibit.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}freemix/js/property.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}freemix/js/identify.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}exhibit/js/widget.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}exhibit/js/facet.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}exhibit/js/view.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}exhibit/js/views/map-view.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}freemix/js/lib/jquery.highlight.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}exhibit/js/display.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}exhibit/js/detail.js"></script>
    {% endcompress %}

    {% if can_share %}
    {% compress js %}
    <script type="text/javascript" src="{{ STATIC_URL }}freemix/js/lib/jquery.form.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}share/js/share_dialog.js"></script>
    {% endcompress %}
    {% endif %}


    {% include "exhibit/lens_js.html" %}
    {% include "exhibit/facet_js.html" %}
    {% autoescape off %} 
    <script type="text/javascript">
        (function($, Freemix) {

            $(document).ready(function() {
                Freemix.initialize();
            });

         })(window.Freemix.jQuery, window.Freemix);
    </script>
    {% endautoescape %}
{% endblock head_scripts %}
    
    
{% block head_css %}
{{block.super}}
{% compress css %}
{% include "simile/css/exhibit.html" %}
{% include "simile/css/exhibit_extensions.html" %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}freemix/css/layout.css"/>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}freemix/css/views.css"/>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}exhibit/css/canvas.css"/>
<link href="{{STATIC_URL}}stylesheets/inspector.css" rel="stylesheet" type="text/css" media="screen,projection" />
<link href="{{STATIC_URL}}stylesheets/embed.css" rel="stylesheet" type="text/css" media="screen,projection" />
{% endcompress %}

<link rel="stylesheet" type="text/css" href="{{ exhibit.theme.url }}" />

{% endblock %}

{% block body %}

<div class="exhibit_display">
  <ul class="exhibit_list_items">
    <li class="exhibit_list_item result_set_item clearfix {% if exhibit.published %}public{% else %}private{% endif %}">
      
      <div class="exhibit-title">{{exhibit.title}}</div>

      {% if exhibit.description %}
      <div class="exhibit-description">
	{{ exhibit.description }}
      </div>
      {% endif %}

      <div class="exhibit-left exhibit-metadata">
        {% trans "Created by"%} <span class="exhibit-creator"><a href="{% url profile_detail exhibit.owner.username %}">{{exhibit.owner|nicename}}</a></span> {% trans "on"%} <span class="exhibit-modified-data">{{exhibit.modified|date:"N j, Y"}}</span> {% trans "and based on the " %}<span class="exhibit-dataset-title"><a href="{{exhibit.dataset.get_absolute_url }}" title="{{exhibit.dataset.title}}">{{exhibit.dataset.title}}</a></span> {% trans "data set." %}
      </div>
      
      <div class="exhibit-right exhibit-actions">
	
	<div class="exhibit-links">	  
          {% if can_inspect %}
          <span class="action action_inspect_exhibit">
            <a class="exhibit_inspect" href="{% url exhibit_detail owner=exhibit.owner.username slug=exhibit.slug %}">{% trans "Inspect" %}</a>
          </span>
	  {% endif %}

        {% if can_share %}
        <span class="divider">|</span>

        <span class="action action_share_exhibit">
          <a class="exhibit_share" href="{% url shared_key_create_form owner=exhibit.owner slug=exhibit.slug %}">{% trans "Share" %}</a>
        </span>
        {% endif %}
          {% if can_embed %} 
          <span class="divider">|</span>
	  
          <span class="action action_embed_exhibit">
            <a class="exhibit_embed" href="">{% trans "Embed" %}</a>
          </span>
          {% endif %}

          {% if can_edit %}
          <span class="divider">|</span>
	  
          <span class="action action_edit_exhibit">
            <a class="exhibit_edit" href="{% url exhibit_edit owner=exhibit.owner.username slug=exhibit.slug %}">{% trans "Edit" %}</a>
          </span>
	  {% endif %}
	</div>
      </div>
    </li>
  </ul>
</div>

{% if can_embed %}
<div id="embed">
  <div id="embed-info" class="ui-helper-hidden ui-widget-content ui-corner-all">
    <p class="embed-desc"><strong>{% blocktrans %}Copy the following and paste it into your page where you'd like your data view to be placed.{% endblocktrans %}</strong></p>
    <p id="embedding-code">&lt;script id="freemix-embed" src="{{ exhibit_embed_url }}" type="text/javascript"&gt;&lt;/script&gt;</p>
    <p class="buttons">
      <a id="embed-info-close" class="button">
        <span class="ui-icon ui-icon-close"></span>
      </a>
    </p>
  </div>
</div>
{% endif %}

<div id="contents" class="freemix-themeable">

  <div id="canvas">
      {% include exhibit.canvas.location %}
  </div>                
  
</div>

<div class="ui-helper-hidden">
  <div id="templates">
  </div>
</div>

<p class="center">{% trans "Created by" %} <a href="{{ exhibit.owner.get_profile.get_absolute_url }}">{{ exhibit.owner|nicename }}</a> {% trans "based on" %} <a href="{{ exhibit.dataset.get_absolute_url }}">{{ exhibit.dataset.title }}</a>.</p>
{% endblock %}



