{% load embed_tags %}
{%  compress css %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}simile/ajax/styles/graphics.css"/>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}simile/exhibit/styles/exhibit.css"/>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}simile/exhibit/styles/browse-panel.css"/>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}simile/exhibit/styles/lens.css"/>

<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}simile/exhibit/styles/util/facets.css"/>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}simile/exhibit/styles/util/views.css"/>

<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}simile/exhibit/styles/widgets/collection-summary-widget.css"/>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}simile/exhibit/styles/widgets/resizable-div-widget.css"/>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}simile/exhibit/styles/widgets/legend-widget.css"/>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}simile/exhibit/styles/widgets/option-widget.css"/>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}simile/exhibit/styles/widgets/toolbox-widget.css"/>

<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}simile/exhibit/styles/views/view-panel.css"/>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}simile/exhibit/styles/views/tile-view.css"/>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}simile/exhibit/styles/views/thumbnail-view.css"/>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}simile/exhibit/styles/views/tabular-view.css"/>

<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}simile/exhibit/extensions/time/styles/timeline-view.css"/>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}simile/exhibit/extensions/chart/styles/bar-chart-view.css"/>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}simile/exhibit/extensions/chart/styles/pivot-table-view.css"/>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}simile/exhibit/extensions/chart/styles/scatter-plot-view.css"/>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}simile/exhibit/extensions/map/styles/map-view.css"/>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}simile/exhibit/extensions/map/styles/olmap-view.css"/>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}simile/timeline/styles/timeline.css"/>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}simile/timeline/styles/ethers.css"/>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}simile/timeline/styles/events.css"/>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}freemix/css/layout.css"/>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}freemix/css/views.css"/>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}exhibit/css/canvas.css"/>

{% endcompress %}