{% extends "site_base.html" %}

{% load i18n %}

{% block rtab_id %}id="views_tab"{% endblock %}

{% block views-tab-selected %} ui-tabs-selected ui-state-active{% endblock %}

{% block subnav %}
{% if user.is_authenticated %}
<li class="{% block myview-tab-selected %}{% endblock %}"><a href="{% url exhibit_list_by_owner user.username %}">{% trans "Your Views" %}</a></li>
<li class="{% block myfriendsview-tab-selected %}{% endblock %}"><a href="{% url exhibit_list_by_user_connections user.username %}">{% blocktrans %}Your Connections' Views{% endblocktrans %}</a></li>
{% comment %} set by instance policy 
<li class="{% block everyoneview-tab-selected %}{% endblock %}"><a href="{% url profile_list %}">{% blocktrans %}All Views{% endblocktrans %}</a></li> {% endcomment %}
{% endif %}
{% endblock %}
