#multiselector {
    width: 50%;
}

body.dragging, body.dragging * {
    cursor: move !important;
}

.dragged {
    position: absolute;
    opacity: 0.5;
    z-index: 2000;
}

div.multiselect-buttons {
    padding: 4px 0 4px 4px;
}

div.multiselect-buttons button {
    margin: 0 0 0 4px;
}

table.multiselect-columns {
    width: 100%;
}

table.multiselect-columns td {
    vertical-align: top;
    width: 50%;
}

.sortable li.placeholder {
    position: relative;
    border-top: 2px solid #3a87ad;
}

.sortable li.placeholder:before {
    position: absolute;
}

.sortable {
    border-bottom: 1px solid #e3e3e3;
    overflow: auto;
    overflow-x: hidden;
}

.deselected {
    opacity: 0.65;
}

ul.empty {
    background-color: #d9edf7;
    border-top: 1px solid #e3e3e3;
    height: 2.5em;
}

.sortable li {
    background-color: #f5f5f5;
    border-top: 1px solid #e3e3e3;
    line-height: 2.5;
}

i.actionable {
    cursor: pointer;
    line-height: 2.5;
    margin: 0 5px;
}

i.draggable {
    color: #999;
    cursor: move;
    line-height: 2.5;
    margin: 0 5px;
}
