{% extends "profiles/base.html" %}
{% load url from future %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load notification_utils %}
{% load connection_helpers %}
{% load freemix_helpers %}
{% load compress %}
{% load cache %}
{% load gravatar %}



{% block head_title %}{{ other_user.username }}{% endblock %}

{% block head_css %}
{{ block.super }}
{% compress css %}
<!-- style users as friends -->
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}profiles/css/profile_friends.css"/>
{% endcompress %}
{% endblock %}

{% block extra_scripts %}
{{block.super}}
{% include "freemix/js_include/jquery_ui.html" %}

{% if is_me %}

<script type="text/javascript">
  $(document).ready(function() {
  var userTransactionView, transactions = $('.transaction');
  if (transactions.length > 0) {
  // poll for DataSourceTransaction updates
  userTransactionsView = new window.UserTransactionsView({
  transactions: $('.transaction')
  }).render();
  }

  $('#edit_profile_form_template').load('{% url 'profile_edit' %}', function() {
  var q = $('form.uniForm');
  });
  );
</script>

{% endif %}
{% endblock extra_scripts %}

{% block body %}

<div class="row-fluid">
  
  <div class="span5">
    
    <div id="about-box" class="info-section widget-well">

      {% if is_me %}
      <div class="widget-header">
	<h2>My Profile</h2>
      </div>
      {% else %}
      <div class="widget-header">
	<h2>Profile</h2>
      </div>
      {% endif %}

      <div class="row-fluid">

	<div class="span4">
	  <!-- div class="user_avatar"></div> -->
	  <div class="identicon">
	    {% gravatar other_user.email|add:"f=t" 112 %}
	  </div>
	</div>
      
	<div class="span8">
	  <div class="inspector_info profile_info">
            {% if other_user.get_profile.website %}
            <p class="about_name">{{ other_user.username }}<a class="url about_homepage" href="{{ other_user.get_profile.website }}" title="{{ other_user.get_profile.website }}"></a></p>
            {% else %}
            <p class="about_name">{{ other_user.username }}</p>
            {% endif %}
            {% if other_user.get_profile.location %}
            <p class="about_location">{{ other_user.get_profile.location }}</p>
            {% endif %}
        
            <!-- user stats -->
            <div class="view-count">
              {% user_counts other_user %}
            </div>
	  </div>
	</div>

      </div> <!-- end row -->

      <div class="row-fluid">
	<div class="span12">
	  {% if other_user.get_profile.about %}
	  <div class="bubble">{{ other_user.get_profile.about }}</div>
	  {% endif %}
	</div>
      </div>

      <div class="row-fluid">

	<div class="span12 pull-right">
	  {% if is_me %}
	  <span class="about_edit">
	    <div class="profile-actions">
              <div class="profile-links btn-group">
		<a href="{% url 'profile_edit' %}" data-target="#edit-profile-form" role="button" id="edit-profile-button" class="btn btn-small" data-toggle="modal"><i class="icon-edit"></i>{% trans " Edit" %}</a>
	      </div>
	    </div>
	  </span>
	  
	  <div id="edit-profile-form" class="modal modal-fit hide fade form-dialog" tabindex="-1" role="dialog" aria-labelledby="editProfileFormLabel" aria-hidden="true">
	    <div class="modal-header">
	      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	      <h3 id="editProfileFormLabel">{% trans "Edit Profile" %}</h3>
	    </div>
	    <div class="profile_edit_form_template modal-body">
	    </div>
	  </div>
	  {% endif %}
	</div>

      </div>
	  
    </div> <!-- end about-box -->
    
    {% if user.is_authenticated %}
    
    {% if not is_me %}
    
    {% if is_friend %}

    <div class="info-section widget-well widget-action-well">
      
      <div class="widget-header">
	<h2>{% trans "Actions" %}</h2>
      </div>

      <form class="uniForm" method="POST" action="">

	{% csrf_token %}
	
        <fieldset class="inlineLabels">
	  
	  <div class="alert alert-block">
	    <div class="row-fluid">
	      <div class="span8">
		{% blocktrans %}You are connected to {% endblocktrans %}{{ other_user.username }}.
	      </div>
	      <div class="span4">
		<div class="pull-right">
		  <input type="hidden" class="btn btn-small" name="action" value="remove" />
		  <input type="submit" class="btn btn-small negative-button" value="{% trans "Remove" %}"/>
		</div>
	      </div>
	    </div>
	  </div>
	  
	</fieldset>
      </form>
      
    </div>
    
    {% else %}
    
    {% if previous_invitations_from %}
    
    <div class="info-section widget-well widget-action-well">

      <div class="widget-header">
	<h2>{% trans "Actions" %}</h2>
      </div>
            
      <div class="connection_extra">
      
	{% for invitation in previous_invitations_from %}

	<div class="alert alert-block">
	  <div class="row-fluid">
	    <div class="span8">
	      {{ other_user.username }} {% blocktrans %}requested a connection on{% endblocktrans %} {{ invitation.sent|date }}
	      {# <p class="invitation_message">{{ invitation.message }}</p> #}
	    </div>
	    
	    <div class="span2">
	      
	      <form method="post" action="">
		{%csrf_token %}
		
		<input type="hidden" name="invitation" value="{{ invitation.id }}"/>
		<input type="hidden" name="action" value="accept"/>
		<input type="submit" class="btn btn-small" value="{% trans 'Accept' %}" />
	      </form>
	    </div>
	    <div class="span2">
	      <form method="post" action="">
		{%csrf_token %}
		<input type="hidden" name="invitation" value="{{ invitation.id }}"/>
		<input type="hidden" name="action" value="decline"/>
		<input type="submit" class="btn btn-small" value="{% trans 'Decline' %}" class="negative-button" />
	      </form>
	    </div>
	  </div>
	</div>
	
	{% endfor %}

      </div>
    </div>

    {% else %}
    
    {% if previous_invitations_to %}
    
    <div class="info-section widget-well widget-action-well">

      <div class="widget-header">
	<h2>{% trans "Actions" %}</h2>
      </div>

      <div class="alert alert-success">{% trans "Connection request sent." %}</div>

    </div>
    
    {% else %}
    
    <div class="info-section widget-well widget-action-well">

      <div class="widget-header">
	<h2>{% trans "Actions" %}</h2>
      </div>

      <form class="uniForm" method="POST" action="">
        {% csrf_token %}
        <fieldset class="inlineLabels">
	  
	  {{ invite_form|crispy }}
	  <div class="form_block">
            <input type="hidden" name="action" value="invite" />
            <div class="alert alert-block">
	      <div class="row-fluid">
		<div class="span8">
		  {% blocktrans %}Send an invitation to connect with {% endblocktrans %} {{ other_user.username }}
		</div>
		<div class="span4">
		  <div class="pull-right">
		    <input type="submit" class="btn btn-small" value="{% trans "Invite" %}"/>
		  </div>
		</div>
	      </div>
            </div>
	  </div>
        </fieldset>
      </form>
    </div>
    
    {% endif %} {# previous_invitations_to #}
    
    {% endif %} {# previous_invitations_from #}
    
    {% endif %} {# is_friend #}
    
    {% endif %} {# is me #}
    
    {% else %} {# not user.is_authenticated #}
    
    {% url 'acct_login' as login_url %}
    <p class="center">{% blocktrans %}<a href="{{login_url}}">Log in</a> to add this person as a connection.{% endblocktrans %}</p>
    
    {% endif %}
  
    <!-- my news -->
    
    {%  if user.is_authenticated %}
    <div class="connection-section widget-well">
      
      {% if is_me %}
      <div class="widget-header">
	<h2>{% blocktrans %}My Connections{% endblocktrans %}</h2>
      </div>
      {% else %}
      <div class="widget-header">
	<h2>Connections</h2>
      </div>
      {% endif %}

      <div class="user_friends">
	{% if other_friends %}
	{% connection_list other_friends 3 0 %} 
	<div class="see_all">
          <a href="{% url 'connection_list_by_user' other_user.username %}">{% trans "See all" %}</a>
	</div> 
	{% else %}
	
	{% if is_me %}
	{% url 'profile_list' as profile_list_url %}
	<div class="row-fluid">
	  <div class="span12">
	    <div class="alert alert-info">
	      {% blocktrans %}You currently have no connections. Check user <a href="{{ profile_list_url }}">profiles</a> and see if there's anyone you know.{% endblocktrans %}
	    </div>
	  </div>
	</div>
	{% else %}
	<div class="row-fluid">
	  <div class="span12">
	    <div class="alert alert-info">
	      {{ other_user.username }} {% blocktrans %} currently has no connections.{% endblocktrans %}
	    </div>
	  </div>
	</div>
	{% endif %}
	
	{% endif %}
      </div>
    </div>
    
    {% if is_me %}
    <div class="info-section widget-well">
      <div class="widget-header">
	<h2>{% blocktrans %}My Notices{% endblocktrans %}</h2>
      </div>

      <div class="notices">
	{% notification_summary_list other_user %}
      </div>
    </div>
    {% endif %}
    
    {% endif %}
    
  </div> <!-- end span4 -->
  
  <div class="span7">
    
    {% include "profiles/profile_right_panel.html" %}
    
  </div> <!-- end span8 -->
  
</div> <!-- end row-fluid -->

{% endblock body %}
