{% extends "profiles/base.html" %}

{% load i18n %}
{% load pagination_tags %}
{% load humanize %}
{% load profile_tags %}
{% load compress %}
{% block head_title %}{% blocktrans %}All Users{% endblocktrans %}{% endblock %}

{% block head_css %}
{{ block.super }}
{% compress css %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}stylesheets/profile_users.css"/>
{% endcompress %}
{% endblock %}

{% block allprofiles-tab-selected %} ui-tabs-selected ui-state-active{% endblock %}

{% block body %}
<h1>{% trans "All Users" %}</h1>

<div class="search-area">
  <form method="GET" action="" class="form-search">

    <div class="control-group">
      <label class="control-label">{% trans "Find a user" %}</label>

      <div class="input-append">
        <input type="text" name="search" class="input-medium search-query" id="search" value="{{ search_terms }}" />
        <button type="submit" class="btn">{% trans "Search" %}</button>
      </div>
         
      {% if users.count > 0 %}

      <div class="help-inline">
        <span class="sort-label">{% trans "Sort by:" %}</span>
        
        <span class="btn-group">
          {% ifequal order "name" %}
          <a class="btn btn-small active" href="#">{% trans "Name" %}</a>
          {% else %}
          <a class="btn btn-small" href="{% url profile_list %}?order=name">{% trans "Name" %}</a>
          {% endifequal %}
          {% ifequal order "date" %}
          <a class="btn btn-small active" href="#">{% trans "Joined" %}</a>
          {% else %}
          <a class="btn btn-small" href="{% url profile_list %}?order=date">{% trans "Joined" %}</a>
          {% endifequal %}
        </span>
      </div>
    </div>
  </form>
</div>


{% autopaginate users%}

{% ifequal order 'date'  %}
{% regroup users by date_joined.date as users_by_date_joined %}

  {% for date in users_by_date_joined %}
  <h2 class="ui-widget-header join_date">{{ date.grouper|naturalday:_("MONTH_DAY_FORMAT")|capfirst }}</h2>
    <ul class="profile_list">
    {% for user in date.list %}
      {% show_profile user %}
    {% endfor %}
    </ul>
  {% endfor %}
{% else %}
  <ul class="profile_list">
  {% for user in users %}
    {% show_profile user %}
  {% endfor %}
  </ul>
{% endifequal %}

{% paginate %}

{% else %}
<br />
<br />
<div class="alert">
  {% blocktrans %}No users were found matching search critera.{% endblocktrans %}</p>
</div>
{% endif %}

{% endblock %}
