{% load url from future %}
{% load i18n %}
{% load humanize i18n %}
{% load pagination_tags %}
{% load timezone_filters %}
{% load dataset_tags %}
{% load exhibit_tags %}

<div id="user_sections">
{% with exhibits.count as exhibit_count %}
{% with drafts.count as draft_count %}
{% if is_me %}

    {% if draft_count > 0 %}
    <div class="draftview-section widget-well">
      <h2>{% blocktrans %}Draft Views{% endblocktrans %}</h2>
      {% if draft_count > 3 %}
      <div class="see_all">
        <a href="">{% trans "See all" %}  {{ draft_count }} draft{{ draft_count|pluralize }}</a>
      </div>
      {% endif %}
    </div>
    {% endif %}
{% endif %}

{% if exhibit_count == 0 and is_me %}

    <div class="user_data_upload">
      <p class="hyper-upload">
        <a href="{% url 'upload_dataset' %}" class="button_link">Upload&nbsp;Data</a>
        <p class="center">Add data to your profile to start sharing collections!</p>
      </p>
    </div>

{% elif exhibit_count == 0 %}

{% else %}

    <div class="view-section widget-well">
      <h2>{% blocktrans %}Views{% endblocktrans %}</h2>
      {% exhibit_list exhibits.all 10 0 %}

      {% if exhibit_count > 10 %}
      <div class="see_all">
        <a href="{% url 'exhibit_list_by_owner' other_user.username %}">{% trans "See all" %}  {{exhibit_count}} view{{ exhibit_count|pluralize }}</a>
      </div>

      {% endif %}
    </div>

{% endif %}

{% endwith %}
{% endwith %}

</div>
