{% extends "profiles/base.html" %}

{% load i18n %}
{% load connection_helpers %}
{% load viewshare_helpers %}
{% load compress %}

{% block head_title %}{{ other_user.username }}{% blocktrans %}'s Connections{% endblocktrans %}{% endblock %}

{% block head_css %}
{{ block.super }}

<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}profiles/css/profile_users.css"/>
{% endblock %}

{% block body %}

<h1>{{ other_user.username }}{% blocktrans %}'s Connections{% endblocktrans %} ({{ object_list | length }})</h1>

<div class="view_details">
  {% connection_list object_list  %}
</div>

{% endblock %}
