{% extends "exhibit/list/base.html" %}

{% load i18n %}
{% load exhibit_tags %}
{% load freemix_helpers %}

{% block head_title %}{{other_user|nicename}}{% blocktrans %}'s Connections' Data Views{% endblocktrans %}{% endblock %}
{% block extra_scripts %}
{{block.super}}
{% include "freemix/js_include/jquery_ui.html" %}
{% endblock %}
{# set appropriate tabs #}

{% block rtab_id %}id="view_tab"{% endblock %}
{% block view-tab-selected %} ui-tabs-selected ui-state-active{% endblock %}
{% block myfriendsview-tab-selected %} ui-tabs-selected ui-state-active{% endblock %}

{% block body %}

<h1>{% ifequal user.username username %}
    {% blocktrans %}Your Connections' Views{% endblocktrans %}
    {% else %}
    {{other_user|nicename}}{% blocktrans %}'s Connections' Views{% endblocktrans %}
    {% endifequal %}
</h1>

<div class="view_details">
  <p>
    {% ifequal user.username username %}
    {% blocktrans %}Your connections have{% endblocktrans %}
    {% else %}
    {{ other_user|nicename }}{% blocktrans %}'s connections have{% endblocktrans %}
    {% endifequal %}
    {{object_list.count}} {% trans "data view" %}{{ object_list.count|pluralize }}.
  </p>

  {% exhibit_list object_list %}
</div>

{% endblock %}
