{% extends "site_base.html" %}

{% load i18n %}
{% load compress %}

{% block head_title %}{% trans "Content Access Portal" %}{% endblock %}

{% block extra_scripts %}
{% include "simile/js/exhibit.html" %}
{% include "simile/js/exhibit_extensions.html" %}

{{ block.super }}
<script type="text/javascript" src="{{STATIC_URL}}simile/exhibit/scripts/create.js"></script>

{% endblock %}

{% block head_data %}
<link href="/catalog/collections/" rel="exhibit/data" type="application/json" />
<link href="/catalog/projects/" rel="exhibit/data" type="application/json" />
<link href="/catalog/organizations/" rel="exhibit/data" type="application/json" />
<link href="/catalog/topics/" rel="exhibit/data" type="application/json" />
<link href="{{ STATIC_URL }}collection_catalog/js/catalog_schema.json" rel="exhibit/data" type="application/json" />
{% endblock %}

{% block head_css %}
{{ block.super }}
{% compress css %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}freemix/css/layout.css"/>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}collection_catalog/css/catalog.css"/>
{% include "simile/css/exhibit.html" %}
{% include "simile/css/exhibit_extensions.html" %}
{% endcompress %}

{% endblock %}

{% block body_class %}main-attraction{% endblock %}

{% block body %}

{% include "collection_catalog/catalog.html" %}

{% endblock %}
