{% extends "site_base.html" %}


{% load i18n %}


{% block head_title %}Welcome to Viewshare{% endblock %}


{% block head_css %}
{{block.super}}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}stylesheets/home-page.css"/>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}site_theme/css/homepage/base.css"/>
{% endblock %}


{% block head_scripts %}
    <script type="text/javascript" src="{{STATIC_URL}}freemix/js/lib/jquery.slides.js"></script>
{% endblock head_scripts %}


{% block tab_id %}id="home_tab"{% endblock %}


{% block home-tab-selected %} ui-tabs-selected ui-state-active{% endblock %}


{% block body %}
{% if featured_exhibits %}
<div id="slides">
  <div class="slides_container">
  {% for exhibit in featured_exhibits %}
    <div class="slide">
      <a href="{{ exhibit.get_absolute_url }}">
      {% if exhibit.thumbnail %}
        <img src="{{ exhibit.thumbnail.url }}" />
      {% else %}
        <img src="{{ STATIC_URL }}freemix/img/slide_holder.png" />
      {% endif %}
      </a>
      <div class="caption">
        <p>{{ exhibit.custom_title }}</p>
      </div>
    </div><!-- /.slide -->
  {% endfor %}
  </div><!-- /#slides_container -->
  <a href="#" class="prev"><img src="{{ STATIC_URL }}freemix/img/arrow-prev.png" width="24" height="43" alt="Arrow Prev"></a>
  <a href="#" class="next"><img src="{{ STATIC_URL }}freemix/img/arrow-next.png" width="24" height="43" alt="Arrow Next"></a>
</div><!-- /#slides -->
{% endif %}
<div class="primarydisc">
  <p>
  <strong>Viewshare</strong> is a <strong>free</strong> platform for generating and customizing views <strong>(interactive maps, timelines, facets, tag clouds)</strong> that allow users to experience your <strong>digital collections</strong>.
  </p> 
  <a href="/registration/register/">
    <div id="first" class="linkblock">Request Free Account</div>
  </a>
  <a href="/screencast">
    <div id="second" class="linkblock">Watch Screencast</div>
  </a>
  <a href="http://recollection.zepheira.com/about/help/">
    <div id="third" class="linkblock">Get Started</div>
  </a>
</div><!-- /.primarydisc -->
<style type="text/css">
  .linkblock {
    padding:1.2em 1em 1em 1em
  }
</style>

<div class="action-set first-action-set">
  <a href="/import"><h3 class="grid_title">Import Collections</h3></a>
  <div class="stepblock">
    Ingest collections from <strong>spreadsheets</strong> or <strong><a href="http://www.loc.gov/standards/mods/">MODS</a></strong> records. Upload from your desktop or import them from a URL. 
  </div>
</div><!-- /.action-set -->
<div class="action-set">
  <a href="generate-views"><h3 class="grid_title">Generate Views</h3></a>
  <div class="stepblock">
    Generate distinct interactive visual interfaces to your digital collections, including <strong>maps</strong> and <strong>timelines</strong>, and sophisticated <strong>faceted navigation</strong>.
  </div>
</div><!-- /.action-set -->
<div class="action-set">
  <a href="/embed-and-share"><h3 class="grid_title">Embed and Share</h3></a>
  <div class="stepblock">
    Just <strong>copy-paste to embed</strong> your interface in any webpage. Provide your users with novel and intuitive ways to explore your content    
  </div>
</div><!-- /.action-set -->
{% endblock %}


{% block final %}
<script>
$(function() {
  $('#slides').slides({
    preload: true,
    preloadImage: '{{ STATIC_URL }}freemix/img/loading.gif',
    play: 5000,
    pause: 2500,
    hoverPause: true,
    animationStart: function(current){
      $('.caption').animate({
        bottom:-35
      },100);
      if (window.console && console.log) {
        // example return of current slide number
        console.log('animationStart on slide: ', current);
      };
    },
    animationComplete: function(current){
      $('.caption').animate({
        bottom:0
      },200);
      if (window.console && console.log) {
        // example return of current slide number
        console.log('animationComplete on slide: ', current);
      };
    },
    slidesLoaded: function() {
      $('.caption').animate({
        bottom:0
      },200);
    }
  });
});
</script>
{% endblock final %}
