{% extends "site_base.html" %}
{% load url from future %}


{% load i18n %}
{% load compress %}
{% load crispy_forms_tags %}

{% block head_css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}upload/css/upload.css"/>
{% endblock %}

{% block head_data %}
    {{ block.super }}
    {% if show_error %}
    <link rel="freemix/support" href="{% url 'upload_issue' owner=source.exhibit.owner.username slug=source.exhibit.slug %}">
    {% endif %}
{% endblock %}

{% block extra_scripts %}
    {{ block.super }}
    {% if show_error %}
    {% include "freemix/js_include/jquery_ui.html" %}
     {% compress js %}
    <script type="text/javascript" src="{{STATIC_URL}}freemix/js/lib/jquery.form.js"></script>

    <script type="text/javascript" src="{{STATIC_URL}}support/js/base.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}support/js/load.js"></script>
    {% endcompress %}
    {% endif %}
{% endblock %}

{% block body %}
    {% if show_error %}
     <div id="systemMsg">
      <ul id="load-messages">
        <li id="load-failure-general" class="alert alert-error">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <div class="errorMsg-general">{% trans "We're sorry that you've encountered a problem uploading your file. Please use the following troubleshooting tips to try to correct the problem." %}</div>
          <div class="errorMsg-specific">
          {% block format_error %}{% endblock %}
          </div>
          <div class="errorMsg-followup">{% trans "If you have a file that you think should work after troubleshooting please <strong><a href='' class='support-link'>Click here to create a support ticket</a></strong>." %}</div>
        </li>
      </ul>
    </div>
    {% endif %}

     {% block upload_form_type %}{% endblock %}

     {% block upload_form_title %}<h1 id="upload-label">{% trans "Load Data"%}</h1>{% endblock %}

     <fieldset class="upload-form form-well">

       <div class="row-fluid">
	 <div class="span12 well">

	   <form action="{{ form_url }}" method="post" class="uniForm form form-horizontal" {% block uploadform_enctype %}{% endblock %}>
             {%csrf_token %}

             {{ form|crispy }}

             <div class="load-actions buttons control-group">
	       <div class="controls">
		 <input type="submit" value="{% trans "Upload" %}" class="submit btn btn-primary" />
		 <a href="{% url 'upload_dataset' %}"><input type="button" value="{% trans "Cancel" %}" class="load-form-cancel negative-button btn btn-danger" /></a>
	       </div>
             </div>

	   </form>

	 </div>
       </div>

     </fieldset>

     </div> <!-- end upload_form_type -->

{%  if show_error %}
<div id="support" class="hide"></div>
<div class="support-spinner progress progress-striped active hide">
  <div class="bar" style="width: 100%;"></div>
  <p>{% blocktrans %}Requesting ticket, please be patient.{% endblocktrans %}</p>
</div>
{% endif %}

{% endblock %}
