{% load url from future %}
{% load i18n %}

{% with filename=datasource.get_filename %}
<div class="datasource_field">
    <span class="datasource_label">File:</span>
    <span class="datasource_value">
        <a href="{% url 'file_datasource_file_url' uuid=datasource.uuid %}">{{ filename }}</a>
    </span>
</div>
{% endwith %}
<div class="datasource_field">
    <span class="datasource_label">{% trans "Path" %}:</span>
    <span class="datasource_value">
        {{ datasource.path }}
    </span>
</div>

<div class="datasource_field">
    <span class="datasource_label">{% trans "Mapping" %}:</span>
    <span class="datasource_value">
        {{ datasource.mapping }}
    </span>
</div>
<div class="datasource_field">
    <span class="datasource_label">{% trans "Type" %}:</span>
    <span class="datasource_value">JSON File</span>
</div>