{% extends "upload/datasource_form.html" %}
{% load url from future %}

{% load i18n %}

{% block head_scripts %}
{{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}/upload/js/oai_form.js"></script>
{% endblock %}

{% block head_data %}
{{ block.super }}
    <link type="viewshare/oai_set_list" rel="{% url 'oai_set_list' %}"/>
{% endblock %}

{% block upload_form_type %}<div class="upload-oaiurl">{% endblock %}

{% block upload_form_title %}<h1 id="upload-label">{% trans "Load OAI (Beta)"%}</h1>{% endblock %}

{% block format_error %}

    <h3>For OAI-PMH:</h3>
    <ul>
        <li>Check to make sure the target OAI-PMH installation is compatible with MIT DSpace.</li>
    </ul>
{% endblock %}
