{% load url from future %}
{% load cms_tags %}
<div id="supported-file-types" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="supported-file-types-label"
     aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 id="support-file-types-label">Support</h3>
    </div>
    <div class="modal-body">
      <h4>You can create views from the following</h4>

        <ul>
            <li>Simple rectangular spreadsheets in MS Excel format (Note: the proprietary data format makes them impossible to fully
                support some Excel functionality)
            </li>
            <li>XML MODS</li>
            <li>JSON</li>
            <li>OAI (Beta)</li>
            <li>ContentDM (Beta)</li>
        </ul>

        <h4>Supported browsers</h4>

        <p>Microsoft Internet Explorer v.7 &amp; 8, Firefox v.3.x and Safari v.3.x and v.4.x. Other browsers that mostly work are:
            Opera
            v.9.x, Camino v.1.6.x, Firefox v.2.x, but you may encounter issues.</p>

        <br/>

        <div class="alert alert-info">More details are available in <a href="{% url 'userguide' %}#s3.1.1" target="_blank">User Guide Data File
            Section</a> or the <a href="{% url 'userguide' %}#s3.1.4" target="_blank">Troubleshooting Guidelines</a></div>
    </div>
</div>
