{% extends "site_base.html" %}
{% load i18n %}

{% block extra_head %}
<link rel="upload/ping" href="{% url 'upload_transaction_status_json' owner=exhibit.owner.username slug=exhibit.slug %}"/>
{% endblock %}

{% block extra_scripts %}
<script type="text/javascript">
  var intervalId = 0;

  function checkStatus() {

    function failure() {
        clearInterval(intervalId);
        $("#body").empty();
        $("#body").append("There was an error communicating with the server.&nbsp;" +
                         "Please refresh the page manually");
    }

     $.ajax($("link[rel='upload/ping']").attr("href"), {
         dataType: "json",
         success: function(data) {
             if (!data){
               failure()
             } else if (data.isReady) {
               clearInterval(intervalId);
               window.location.href=data.redirect;
             }
         },
         error: failure
     });
  }

    $(document).ready(function() {
      intervalId = setInterval(checkStatus, 3000);
    });


</script>
{% endblock %}

{% block body %}
<h1 id="upload-label">{% trans "Loading Data" %}</h1>

<div class="progress progress-striped active">
  <div class="bar" style="width: 100%;"></div>
</div>

{% endblock %}