{% extends "site_base.html" %}


{% load i18n %}
{% load compress %}


{% block head_css %}
    {{ block.super }}
    {% compress css %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}upload/css/upload.css"/>
    {% endcompress %}
{% endblock %}

{% block rtab_id %}id="data_tab"{% endblock %}

{% block data-tab-selected %} ui-tabs-selected ui-state-active{% endblock %}
{% block subnav %}
{% endblock %}

{% block body %}


<div id="load">
  <h1 id="upload-label">{% trans "Create a View" %}</h1>

  <div class="upload-caption">Upload any of the following data types to create a view</div>

    <ul class="upload-options">

      <li class="option" id="upload-ss">
	<div class="title">{% trans "Simple Spreadsheets" %}</div>
        <div class="desc">{% trans "Simple rectangular spreadsheets in CSV or Microsoft Excel format." %}</div>
        <ul class="sources">
          <li class="web"><a href="{% url 'url_transform' %}">From the web</a></li>
          <li class="filesystem"><a href="{% url 'file_transform' %}">From a file on your computer</a></li>
        </ul>
      </li>

      <li class="option" id="upload-mods">
        <div class="title">{% trans "XML MODS file" %}</div>
	<div class="desc">{% trans "An XML file conforming to the Metadata Object Description Schema (MODS) schema." %}</div>
        <ul class="sources">
          <li class="web"><a href="{% url 'mods_url_transform' %}">From the web</a></li>
          <li class="filesystem"><a href="{% url 'mods_file_transform' %}">From a file on your computer</a></li>
        </ul>
      </li>

      <li class="option" id="upload-json">
        <div class="title">{% trans "JSON data" %}</div>
        <div class="desc">{% trans "Data collections represented within a JSON list." %}</div>
        <ul class="sources">
          <li class="web"><a href="{% url 'json_url_transform' %}">From the web</a></li>
        </ul>
      </li>

      <li class="option" id="upload-oai">
        <div class="title">{% trans "OAI " %}<a href="{% url 'oai_transform' %}">{% trans "Open Archives Initiative" %}</a> {% trans "end point (Beta)" %}</div>
        <div class="desc">{% trans "The Open Archives Initiative develops and promotes interoperability standards that aim to facilitate the efficient dissemination of content." %}</div>
      </li>

      <li class="option" id="upload-contentdm">
        <div class="title">{% trans "A " %}<a href="{% url 'cdm_transform' %}">{% trans "ContentDM database" %}</a> {% trans "(Beta)" %}</div>
        <div class="desc">{% trans "Digital Collection Management Software from OCLC." %}</div>
      </li>


    </ul>

    <div class="alert alert-info">
        See <a class="supported-file-types" data-toggle="modal" href="#supported-file-types">Supported Data Source Types</a> if you don't know or don't see the format you are trying to load.
    </div>

      {% include "upload/supported.html" %}

</div>

{% endblock body %}
