<div class="list-lens-properties">

  <form class="form">

    <fieldset>

      <div class="control-group input-append">
        <label class="control-label" for="title_property">Title</label>

        <div class="controls">
          <select class="input-medium" id="title_property"></select>
        </div>
      </div>

      <div class="control-group input-append">
        <label class="control-label" for="title_link_property">Link</label>

        <div class="controls">
          <select class="input-medium" id="title_link_property"></select>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="property_list">Display Properties</label>

        <div id="property_list" class="controls"></div>
      </div>

    </fieldset>

  </form>

</div>

