
  <div class="thumbnail-lens-properties">
      
    <form class="form-horizontal">
      
      <fieldset>
        
        <div class="control-group">
          <label class="control-label" for="image_property">Image</label>
          <div class="controls">
            <select id="image_property"></select>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="title_property">Title</label>
          <div class="controls">
            <select id="title_property"></select>              
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="title_link_property">Link</label>
          <div class="controls">
            <select id="title_link_property"></select>
          </div>
        </div>

      </fieldset>

    </form>

  </div>
