{# Freemix base template.  Override this to extend your own base template. #}

<html>
  <head>
      {% block freemix_meta %}
        {# Data references and metadata #}
      {% endblock %}
      
      <title> 
          {% block freemix_title %}
          {% endblock %} 
      </title>
      
      {% block freemix_css %}
      {% endblock %}
      <script type="text/javascript" src="{{STATIC_URL}}freemix/js/lib/jquery.js"></script>
      {% block freemix_js %}
        {# Freemix related javascript #}

      {% endblock %}
  </head>

  <body>
      {% block freemix_body %}
        {# Exhibits, dataset visualization will go here #}
      {% endblock freemix_body %}
  </body>
</html>

