{% extends "account/base.html" %}

{% load i18n %}
{% load freemix_helpers %}

{% block head_title %}{% trans "Verify this Association" %}{% endblock %}

{% block openidassoc-tab-selected %} ui-tabs-selected ui-state-active{% endblock %}

{% block extra_head %}
<style type="text/css">
    #openid-verify-association, #openid-decline-association { display: inline; }
</style>
{% endblock %}

{% block body %}
<h1>{% trans "Verify this Association" %}</h1>
<p>You have begun to associate <strong>{{ specific_openid }}</strong> with your existing account.  This will allow you to sign in as <strong>{{ user|nicename }}</strong> using that OpenID.  Click below to verify that association.</p>

<form class="uniForm" id="openid-verify-association" action="{{ action }}" method="POST">
            <input type="hidden" name="openid_token" value="{{ openid_token }}" />
            {% if next %}
            <input type="hidden" name="next" value="{{ next }}">
            {% endif %}
            <input type="submit" value="Verify Association" />
</form>
<form id="openid-decline-association" action="/openid/associations/" method="GET">
    <input type="submit" value="Decline Association" class="negative-button" />
</form>
{% endblock %}
