{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% blocktrans %}Error using OpenID{% endblocktrans %}{% endblock %}

{% block body %}
<h1>{% blocktrans %}Error using OpenID{% endblocktrans %}</h1>

<p class="center"><strong>{{ message }}.</strong></p>

<p>{% blocktrans %}OpenID is a single sign-on solution that you can use on any site that supports OpenID login.  If you're unclear about what OpenID is or how to use it, use your existing username to log in, or read <a href="http://openid.net/">more about OpenID</a>.{% endblocktrans %}</p>

{% endblock %}
