.uniForm label.prop {
    display: inline;
}

.uniForm select {
    width: auto !important;
}

.buttons, .button {
    margin-top: 2em;
    clear: both;
    padding-left: 0;
    padding-right: 0;
}

em.gray {
    color: #777;
    font-size: 90%;
}

h4 {
    font-weight: bold;
    margin-bottom: 0.5em;
}


#selected-sample-container {
}

#item-properties-container {
    max-height: 40em;
    overflow: auto;
}

td, th {
    padding: 2px 4px;
}

th {
    font-weight: bold;
}

thead th {
    font-size: 110%;
    border-bottom: 1px solid #ccc;
}

tbody tr:hover td, tbody tr:hover th {
    background: #eee;
}

#div_id_path, #div_id_mapping, #spinner {
    display: none;
}

#spinner {
    text-align: center;
    width: 100%;
}
