{% extends "site_base.html" %}
{% load url from future %}

{% load i18n %}
{% load freemix_helpers %}
{% load exhibit_tags %}
{% load compress %}

{% block head_title %}{% blocktrans %}Layout{% endblocktrans %}{% endblock %}

{% block rtab_id %}id="builder_tab"{% endblock %}
{% block body_class %}attraction{% endblock %}

{% block subnav %}

{% endblock %}

{% block head_data %}
    {% for url in data_urls %}
    <link rel="exhibit/data" href="{{ url }}"/>
    {% endfor %}
    <link rel="exhibit/data" href="{{dataset_properties}}"/>
    <link rel="freemix/exhibit_profile" href="{{ exhibit_profile_url }}"/>
{% endblock %}

{% block head_css %}
{{block.super}}
{% compress css %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}exhibit/css/smoothness/smoothness.css"/>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}exhibit/css/styles/vanilla.css"/>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}freemix/css/layout.css"/>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}freemix/css/views.css"/>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}freemix/css/editor.css"/>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}exhibit/css/canvas.css"/>

{% include "simile/css/exhibit.html" %}
{% include "simile/css/exhibit_extensions.html" %}
{% endcompress %}
{% endblock head_css %}


{% block extra_scripts %}
    {{ block.super }}
    {% include "simile/js/exhibit.html" %}
    {% include "simile/js/exhibit_extensions.html" %}
    {% compress js %}

    <script type="text/javascript" src="{{STATIC_URL}}freemix/js/lib/jquery-ui.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}freemix/js/lib/ui.multiselect.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}freemix/js/lib/jquery.form.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}freemix/js/lib/jquery.jeditable.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}freemix/js/lib/hoverIntent.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}freemix/js/lib/jquery.uuid.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}freemix/js/lib/jquery.cookie.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}freemix/js/lib/jquery.json.js"></script>
    {% endcompress %}

    {% include "exhibit/widget_js.html" with editor="True" %}

{% endblock extra_scripts %}

{% block body %}

<div class="exhibit_edit">

  <br />
  <div class="accordion" id="accordion-exhibit">

    <div class="accordion-group">

      <div class="accordion-heading">
        <div class="accordion-toggle">
          {% if exhibit.parent %}
          <div class="exhibit-title-accordion">{{exhibit.parent.title}} </div>
          {% else %}
          <div class="exhibit-title-accordion">New View</div>
          {% endif %}
        </div>
      </div>

      <div id="collapseOne" class="accordion-body">

  <div class="accordion-inner">

    <div class="exhibit-view-extended-display">

          {% if exhibit.parent.description %}
      <div class="row-fluid">
        <div class="span12">
          <div class="exhibit-description exhibit-long-description">
            {{ exhibit.parent.description }}
          </div>
        </div>
      </div>
      {% endif %}

      <div class="row-fluid">
        <div class="span6">
          <div class="exhibit-metadata">
            {% trans "Created by"%}
            <span class="exhibit-creator"><a href="{% url 'profile_detail' exhibit.owner.username %}">{{exhibit.owner|nicename}}</a></span>
            {% trans "on"%}
            <span class="exhibit-modified-data">{{exhibit.modified|date:"N j, Y"}}</span>.
          </div>
        </div>
        <div class="span6">
          <div class="btn-toolbar pull-right">
            <div class="btn-group" >
              <button class="btn btn-small btn-primary" id="edit_button" data-toggle="collapse" data-target="#edit">{% trans "Edit" %}</button>
              <button class="btn btn-small btn-primary" id="builder_button" data-toggle="collapse" data-target="#build">{% trans "Layout" %}</button>
              <button class="btn btn-small btn-primary" id="preview_button" data-toggle="collapse" data-target="#preview">{% trans "Preview" %}</button>
            </div>
            <div class="exhibit-actions btn-group">
              <button class="btn btn-small" id="save_button" rel="{% url 'exhibit_publish' owner=exhibit.owner.username slug=exhibit.slug %}">{% trans "Save" %}</button>
              <button class="btn btn-small" id="cancel_button" rel="{% url 'exhibit_edit' owner=exhibit.owner.username slug=exhibit.slug %}">{% trans "Cancel" %}</button>
            </div>
          </div>
        </div> <!-- span6 -->
      </div> <!-- row-fluid -->

    </div> <!-- exhibit-display -->

  </div> <!-- accordion-inner -->

      </div> <!-- accordion-body -->

    </div> <!-- accordion-group -->

  </div> <!-- accordion -->

  <div id="contents">
    <div id="build" class="collapse">
      <div id="canvas">
        {% include canvas.location %}
      </div>
    </div>
    <div id="preview" class="collapse"></div>
  </div>

  <script type="text/template" id="canvas-template">
    {% include canvas.location %}
  </script>

{% block builder_templates %}
{# facets #}
{% include "exhibit/edit/facets/facet-editor.html" %}
{% include "exhibit/edit/facets/list-facet-editor.html" %}
{% include "exhibit/edit/facets/slider-facet-editor.html" %}
{% include "exhibit/edit/facets/numeric-facet-editor.html" %}
{% include "exhibit/edit/facets/logo-facet-editor.html" %}
{% include "exhibit/edit/facets/tagcloud-facet-editor.html" %}
{% include "exhibit/edit/facets/text-facet-editor.html" %}
{% include "exhibit/edit/facets/search-facet-editor.html" %}

{# views #}
{% include "exhibit/edit/views/view-editor.html" %}
{% include "exhibit/edit/views/list-view.html" %}
{% include "exhibit/edit/views/map-view.html" %}
{% include "exhibit/edit/views/piechart-view.html" %}
{% include "exhibit/edit/views/scatterplot-view.html" %}
{% include "exhibit/edit/views/table-view.html" %}
{% include "exhibit/edit/views/timeline-view.html" %}
{% include "exhibit/edit/views/thumbnail-view.html" %}

{# lenses #}
{% include "exhibit/edit/lenses/list-lens.html" %}
{#{% include "exhibit/edit/lenses/thumbnail-lens.html" %}#}
{% endblock %}
</div> <!-- exhibit_edit -->
{% endblock body %}
