{% load cms_tags %}

<h2>Supported data file types</h2>

<p>Currently you can upload and share:</p>

<ul>
  <li>XML MODS</li>
  <li>Simple rectangular spreadsheets in MS Excel format (Note: the proprietary data format makes them impossible to fully support some Excel functionality)</li>
  <li>OAI (Beta)</li>
  <li>ContentDM (Beta)</li>
</ul>

<h2>Supported browsers</h2>

<p>Microsoft Internet Explorer v.7 &amp; 8, Firefox v.3.x and Safari v.3.x and v.4.x.  Other browsers that mostly work are: Opera v.9.x, Camino v.1.6.x, Firefox v.2.x, but you may encounter issues.</p>

<br />
<br />

<table>
  <tr>
    <td>
      <img align="left" src = "{{STATIC_URL}}upload/img/help-browser.png" width="48" style="padding:10px;" />
    </td>
    <td>
      <p><br/>More details are available in <a href="{% url userguide  %}#s3.1.1" target="_blank">User Guide Data File Section</a> or the <a href="{% url userguide %}#s3.1.4" target="_blank">Troubleshooting Guidelines</a></p>
    </td>
  </tr>
</table>
