{% extends "site_base.html" %}

{% load i18n %}
{% load compress %}

{% load i18n %}

{% block head_css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}upload/css/upload.css"/>
{% endblock %}

{%  block head_scripts %}
    {{ block.super }}
    {% include "freemix/js_include/jquery_ui.html" %}

    <script type="text/javascript" src="{{ STATIC_URL }}upload/js/upload.js"></script>
{% endblock %}

{% block rtab_id %}id="data_tab"{% endblock %}

{% block data-tab-selected %} ui-tabs-selected ui-state-active{% endblock %}
{% block subnav %}
{% endblock %}

{% block body %}


<div id="load">
  <h1 id="upload-label">{% trans "Load Your Data" %}</h1>

    <ul class="upload-options">

      <li class="option" id="upload-ss">
	<div class="title">{% trans "Simple Spreadsheets" %}</div>
        <div class="desc">{% trans "Simple rectangular spreadsheets in CSV or Microsoft Excel format." %}</div>
        <ul class="sources">
          <li class="web"><a href="{% url url_transform %}">From the web</a>
          <li class="filesystem"><a href="{% url file_transform %}">From a file on your computer</a></li>
        </ul>
      </li>

      <li class="option" id="upload-mods">
        <div class="title">{% trans "XML MODS file" %}</div>
	<div class="desc">{% trans "An XML file conforming to the Metadata Object Description Schema (MODS) schema." %}
        <ul class="sources">
          <li class="web"><a href="{% url mods_url_transform %}">From the web</a></li>
          <li class="filesystem"><a href="{% url mods_file_transform %}">From a file on your computer</a></li>
        </ul>
      </li>

      <li class="option" id="upload-oai">
        <div class="title">{% trans "OAI " %}<a href="{% url oai_transform %}">{% trans "Open Archives Initiative" %}</a> {% trans "end point (Beta)" %}</a></div>
        <div class="desc">{% trans "The Open Archives Initiative develops and promotes interoperability standards that aim to facilitate the efficient dissemination of content." %}</div>
      </li>

      <li class="option" id="upload-contentdm">
        <div class="title">{% trans "A " %}<a href="{% url cdm_transform %}">{% trans "ContentDM database" %}</a> {% trans "(Beta)" %}</a></div>
        <div class="desc">{% trans "Digital Collection Management Software from OCLC." %}</div>
      </li>

    </ul>

    <div id="systemMsg">
      <ul id="system_messages" class="messages">
	<li class="infoMsg">See <a class="supported-file-types" href="#supported-file-types">Supported Data Source Types</a> if you don't know or don't see the format you are trying to load. 
	</li>
      </ul>
    </div>

    <div id="supported-file-types" class="ui-helper-hidden" title="{% trans "Supported Data Source Types" %}">
      {% include "recollection/upload/supported.html" %}
    </div>

</div>

{% endblock body %}
