/**
 * From http://matthewjamestaylor.com/blog/perfect-3-column.htm
 * and accompanying other layouts.  Parts irrelevant to layout
 * excised, some clear: attributes removed to better fit with
 * embedding.
 */

.colhead {
	float: left;
	width: 98%;
    padding: 0.25em 1%;
}

.colmask {
	position: relative;
	float: left;
	width: 100%;
	overflow: hidden;
}

/* common column settings */
.colright,
.colmid,
.colleft {
	float: left;
	width: 100%;
	position: relative;
}

.col1,
.col2,
.col3 {
	float: left;
	position: relative;
	padding: 0 0 1em 0;
}

/* Three-column settings */
.threecol .colmid {
	right: 25%;
}

.threecol .colleft {
	right: 50%;
}

.threecol .col1 {
	width: 46%;
	left: 102%;
}

.threecol .col2 {
	width: 21%;
	left: 31%;
}

.threecol .col3 {
	width: 21%;
	left: 85%;
}

/* Two-column right focus */
.leftmenu .colleft {
    right: 75%;
}

.leftmenu .col1 {
    left: 102%;
    width: 71%;
}

.leftmenu .col2 {
    left: 6%;
    width: 21%;
}

/* Two-column left focus */
.rightmenu .colleft {
    right: 25%;
}

.rightmenu .col1 {
    left: 27%;
    width: 71%;
}

.rightmenu .col2 {
    left: 31%;
    width: 21%;
}

/* Two equal columns */
.doublepage .colleft {
    right: 50%;
}

.doublepage .col1 {
    left: 52%;
    width: 46%;
}

.doublepage .col2 {
    left: 56%;
    width: 46%;
}

/* One-column */
.fullpage .col1 {
    left: 2%;
    width: 96%;
}
