{% load url from future %}
{% load i18n %}
{% load viewshare_helpers %}
{% url 'shared_exhibit_display' slug=key.slug as display_url %}

<li class="shared_key_list_item result_set_item clearfix">
  <div class="row-fluid">
    <div class="span12">
      <div class="shared-key-label">
	<span class="notice-icon">
	  <i class="fa fa-link fa-2x"></i>
	</span>
	<span class="view-label">
	  <a href="{{ display_url }}">
            {% if key.label %}
            {{ key.label }}
            {% else %}
            {{ key.slug }}
            {% endif %}
	  </a>
	</span>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <div class="shared-key-prose">{% trans "Copy the following link to share with others." %}</div>
      <input type="text" value="{% site_url display_url %}" class="shared-key-url" readonly="readonly"/>

      <div class="shared-key-metadata">
	{% trans "Created"%}
	<span class="key-created-on">{{key.created|date:"N j, Y"}}</span>
	{% trans "by" %}
	<span class="exhibit-creator">
	  <a href="{% url 'profile_detail' exhibit.owner.username %}">{{exhibit.owner.username}}</a>
	</span>
      </div>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span12">
      <div class="pull-right">
	<div class="share-links btn-group">
          <!-- a class="shared_key_delete btn btn-small" href="\{\{ display_url \}\}">{% trans "Delete" %}</a> -->
          <a class="btn btn-small shared_key_delete" href="#deleteSharedKeyModal" role="button" data-toggle="modal" rel="{{display_url}}">{% trans "Delete" %}</a>
	</div>
      </div>
    </div>
  </div>
</li>

