{% load i18n %}
{% load sorting_tags %}
{% load pagination_tags %}
{% load exhibit_tags %}
    {% autopaginate object_list max_count %}
    {% if object_list %}            
        {% if pageable %} 
        <p><span class="sort-label">{% trans "Sort by:" %}</span>
            {% anchor title Title %} <span class="divider">|</span>
            {% anchor created Creation %} <span class="divider">|</span>
            {% anchor modified Modified %}

        </p>
        {% endif %}
        <ul class="exhibit_list_items">
        {% for exhibit in object_list %}
            {% exhibit_list_item exhibit %}
        {% endfor %}
        </ul>
        {% if pageable %}{% paginate %}{%endif%}
        {% include "exhibit/exhibit_delete_dialog.html" %}
    {%endif %}
