{% load compress %}

{% compress js %}
<script type="text/javascript" src="{{STATIC_URL}}exhibit/js/facets/search-facet.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}exhibit/js/facets/list-facet.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}exhibit/js/facets/tagcloud-facet.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}exhibit/js/facets/slider-facet.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}exhibit/js/facets/numeric-facet.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}exhibit/js/facets/logo-facet.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}exhibit/js/lib/creole.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}exhibit/js/facets/text-facet.js"></script>
{% endcompress %}
