  <form>
    <fieldset>
      <legend>Logo Settings</legend>

      <div class="control-group">
        <label class="control-label" for="id_src">Image&nbsp;URL:</label>
        <div class="controls">
          <input id="id_src" class="textinput" type="text"  name="src"/>
          <span class='help-inline '>Enter a valid image URL.</span>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="id_alt">Alternate&nbsp;Text:</label>
        <div class="controls">
          <input id="id_alt" type="text" name="alt"/>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="id_href">Destination&nbsp;URL:</label>
        <div class="controls">
          <input id="id_href" class="textinput" type="text"  name="href"/>
        </div>
      </div>
      <div class="control-group slider">
        <label class="control-label" for="logo-facet-size">Dimension:</label>
        <div class="controls">
          <div id="logo-facet-slider"></div>

          <input id="logo-facet-size" type="text" size="3"/>
        </div>
      </div>

    </fieldset>
  </form>
