{% load url from future %}
{% load i18n %}
{% load freemix_helpers %}
{% load connection_helpers %}

<div id="about-box" class="info-section widget-well">
  
  <h2>{{ object.title }}</h2>
  
  <div class="row-fluid">
    
    <div class="span4">
      <div class="view_avatar"></div>
    </div>
    
    <div class="span8">
      <div class="inspector_info profile_info">
	
	<div class="exhibit-created-by"><span class="property-label">{% trans "Created by:" %} </span> <a href="{% url 'profile_detail' object.owner.username %}">{{ object.owner|nicename }}</a></div>
	<div class="exhibit-created-on"><span class="property-label">{% trans "Created on:" %} </span>{{ object.created|date:"N j, Y" }}</div>
	<div class="exhibit-last-modified"><span class="property-label">{% trans "Last Modified:" %} </span>{{ object.modified|date:"N j, Y" }}</div>
	

	<br />
	<br />
	<div class="exhibit-visibility">
	  {% if object.is_public %}
	  <span class="public">{% trans "This view is publicly available." %}</span>
	  {% else %}
	  <span class="private">{% trans "This view is private." %}</span>
	  {% endif %}
	</div>
	
      </div>
    </div>
    
  </div>
  
  <div class="row-fluid">
    <div class="span12">
      {% if object.description %}
      <div class="exhibit-description bubble">{{ object.description }}</div>
      {% endif %}
    </div>
  </div>
  
  <div class="row-fluid">
    <div class="span12 pull-right">
      
      {% if can_edit %}
      <div class="about_edit">
	{% if is_saved %}
	<span class="inline_save_message">{% trans "Saved" %}</span>
	{% endif %}
	<div class="profile-actions">
          <div class="profile-links btn-group">
	    <a href="{% url 'exhibit_edit_form' owner=object.owner slug=object.slug %}" id="detail_edit_button" class="btn btn-small">{% trans "Edit" %}</a>
	  </div>
	</div>
      </div>
      {% endif %}
    </div>
  </div>
  
</div> <!-- end about-box -->
