{% extends "exhibit/base.html" %}

{% load i18n %}
{% load freemix_helpers %}
{% load exhibit_tags %}
{% load compress %}
{% load exhibit_tags %}
{% load dataset_tags %}
{% block freemix_title %}{% blocktrans %}Data View{% endblocktrans %}: {{ object.title }}{% endblock %}

{% block freemix_css %}
{{ block.super }}
{% compress css %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}freemix/css/layout.css"/>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}freemix/css/views.css"/>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}freemix/css/editor.css"/>

{% block head_css %}
{{ block.super }}
<link href="{{STATIC_URL}}stylesheets/inspector.css" rel="stylesheet" type="text/css" media="screen,projection" />
{% endblock %}

<style>
    #embedding-code {
        display: block;
        line-height: 2.5em;
        width: 75%;
        overflow-y: none;
        overflow-x: auto;
        margin: 0.5em auto;
        border: 1px solid #c6c6c6;
        color: #000;
        background: #F3F3F3 url({{ STATIC_URL }}exhibit/img/form-shadow.png)
        repeat-x scroll left top;
        text-align: left;
        font-family: monospace;
        padding: 0.5em;
        white-space: nowrap;
    }
</style>
{% endcompress %}
{% endblock %}

{% block freemix_js %}
    {{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}freemix/js/lib/jquery.form.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}exhibit/js/detail.js"></script>

{% endblock %}

{% block body %}
    


    <h1>{{ object.title }}</h1>

    <div class="priority-area">
      <p>
        {%  if can_view %}
        <span class="action action_view_exhibit">
            <a class="exhibit_view" href="{{ exhibit.get_absolute_url }}">{% trans "View" %}</a>
        </span>
        {% endif %}
        {% if can_share %}
        <span class="divider">|</span>

        <span class="action action_share_exhibit">
          <a class="exhibit_share">{% trans "Share" %}</a>
        </span>
        {% endif %}

          {% if can_embed %}
        <span class="divider">|</span>

        <span class="action action_embed_exhibit">
          <a class="exhibit_embed" href="">{% trans "Embed" %}</a>
        </span>
        {% endif %}

        {%  if can_delete %}
        <span class="divider">|</span>
        <span class="action action_delete_exhibit">
            <a class="exhibit_delete" href="{{ exhibit.get_absolute_url }}">{% trans "Delete" %}</a>
        </span>
        {% endif %}
      </p>
    </div>
    {% if can_embed %}
    <div id="embed">
      <div id="embed-info" class="ui-helper-hidden ui-widget-content ui-corner-all">
        <p><strong>{% blocktrans %}Copy the following and paste it into your page where you'd like your data view to be placed.{% endblocktrans %}</strong></p>
        <p id="embedding-code">&lt;script id="freemix-embed" src="{{ exhibit_embed_url }}" type="text/javascript"&gt;&lt;/script&gt;</p>
        <p class="buttons">
            <a id="embed-info-close" class="ui-state-default ui-corner-all button button-icon-left">
                <span class="ui-icon ui-icon-close"></span>{% trans "Close" %}
            </a>
        </p>
      </div>
    </div>
    {% endif %}
    <div id="exhibit_metadata">
      {% include "exhibit/detail/exhibit_metadata.html" %}
    </div>

    <div class="right_panel data_panel">
      <div class="dataset_list">
	<h2>{% blocktrans %}Data Set{% endblocktrans %}</h2>

        <ul class="dataset_list_items">
          {% dataset_list_item exhibit.dataset %}
	</ul>

      </div>
    </div>

    {% include "exhibit/exhibit_delete_dialog.html" %}
    {% new_exhibit %}
{% endblock %}
