{% load i18n %}
{% load humanize i18n %}
{% load timezone_filters %}
{% load pagination_tags %}

<h2>{% trans "Notices" %}({{queryset.count}})</h2>
        {% if queryset %}
           {% autopaginate queryset max_count %} 
        {% for notice in queryset %}
        {% if notice.unseen %}
        <div class="unseen_notice">
          {% else %}
        <div class="notice">
          {% endif %}
          <span class="notice_type">[{% trans notice.notice_type.display %}]</span>
          <span class="notice_message">{{ notice.message }}</span>
          <span class="notice_time">{{ notice.added }}</span>
        </div>
        {% endfor %}
          
        {% else %}
          {% url notification_notices as notices_url %}
          <p class="center">{% blocktrans %}You have no unseen <a href="{{ notices_url }}">notices</a>.{% endblocktrans %}</p>
        {% endif %}
        {% if queryset %}
         <div class="see_all"><a href="{% url notification_notices %}">{% trans "See all" %}</a></div>
        {% endif %}
