{% load i18n %}
<div class="record-view" id="map-view-template">

    <div class="map-view-editor">

        <div class="view-properties ui-state-highlight">
            <label class="view-editor-pane-title">{% trans "Map View Settings" %}</label>

            <div class="view-edit-body">
                <form class="uniForm">
                    <fieldset>
                        <div id="view_label" class="ctrlHolder text-entry">
                            <label for="view_label_input">{% trans "Label" %}</label>
                            <input type="text" id="view_label_input"/>
                        </div>
                        <div class="ctrlHolder pull-down">
                            <label for="latlng_property">{% trans "Latitude / Longitude" %}</label>
                            <select id="latlng_property"></select>
                        </div>
                        <div class="ctrlHolder pull-down">
                            <label for="color_property">{% trans "Color Key" %}</label>
                            <select id="color_property"></select>
                        </div>

                        <div class="ctrlHolder pull-down">
                             <label for="zoom_level">{% trans "Zoom Level" %}</label>
                             <select id="zoom_level">
                               <option value="">auto</option>
                               <option value="1">1</option>
                               <option value="2">2</option>
                               <option value="3">3</option>
                               <option value="4">4</option>
                               <option value="5">5</option>
                               <option value="6">6</option>
                               <option value="7">7</option>
                               <option value="8">8</option>
                               <option value="8">9</option>
                               <option value="10">10</option>
                             </select>
                        </div>

                    </fieldset>
                </form>
            </div>
        </div>

        <div class="record-box view-lens-properties ui-state-hightlight">
            <label class="view-editor-pane-title">{% trans "Map Lens Settings" %}</label>

            <div class="view-edit-body">
                <form class="uniForm">
                    <fieldset>
                        <div class="ctrlHolder pull-down">
                            <label for="title_property">{% trans "Title" %}</label>
                            <select id="title_property"></select>
                        </div>
                        <div class="ctrlHolder pull-down">
                            <label for="title_link_property">{% trans "Link" %}</label>
                            <select id="title_link_property"></select>
                        </div>
                    </fieldset>
                </form>

                <table class="property-list-table">
                    <thead class="ui-widget-header ui-corner-top">
                    <tr>
                        <th class="visible">{% trans "Show" %}</th>
                        <th class="property">{% trans "Property" %}</th>
                        <th class="value">{% trans "Value" %}
                            <span class="record-pager">
                                <button class="left-record-button" title="{% trans "Previous Record" %}">&nbsp;</button>
                                 <button class="right-record-button" title="{% trans "Next Record" %}">&nbsp;</button>
                            </span>
                            <span id="current-record">#p</span> of <span id="record-count">#t</span>

                        </th>
                    </tr>

                    </thead>
                    <tbody></tbody>
                    <tfoot>
                    <tr class='table-footer'>

                        <td></td>
                        <td colspan="2">
                            <div class="record-controls ui-helper-clearfix ui-widget-header ui-corner-bottom">
                            </div>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <!-- end view-lens-property -->

    </div>
    <!-- end map-view-editor -->

</div>

