{% load i18n %}
<div class="record-view" {% block template_id %}{% endblock %}>
        {% block view_header %}{% endblock %}        
        <div class="record-box">
            {% block required-settings %}
            {% endblock %}
            <table class="property-list-table">
                <thead class="ui-widget-header ui-corner-top">
                    <tr>
                      {% block property-list-headers %}
                      <th class="header-visible visible">
                        <span class="col-header">{% trans "Visible" %}</span>
		      </th>
                      <th class="header-property">
                        <span class="col-header">{% trans "Property" %}</span>
		      </th>
                      <th class="header-value">
                        <span class="col-header">{% trans "Value" %}</span>

			<div class="record-pager">
                          <span id="current-record">#p</span> of <span id="record-count">#t</span>
                          <button class="left-record-button" title="{% trans "Previous Record" %}">&nbsp;</button>
                          <button class="right-record-button" title="{% trans "Previous Record" %}">&nbsp;</button>
                        </div>
			
		      </th>
                      {% endblock %}
                    </tr>
                </thead>
                <tbody></tbody>
                <tfoot>
                <tr class='table-footer'>
            
                    <td {% block footer-filler-colspan %}colspan="1"{% endblock %}></td>
                    <td colspan="2">
                        <div class="record-controls ui-helper-clearfix ui-widget-header ui-corner-bottom">
                        </div>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>

</div>
