{% extends "account/base.html" %}

{% load i18n %}
{% load avatar_tags %}

{% block head_title %}{% trans "Avatar Settings" %}{% endblock %}
{% block avatar-tab-selected %} ui-tabs-selected ui-state-active{% endblock %}

{% block extra_head %}
{{ block.super }}
{% load jquery_validation %}
{% include_validation %}
{% endblock %}

{% block body %}
<h1>{% trans "Avatar Settings" %}</h1>
<p style="float: left; width: 100px;">
{% avatar user 80 %}
</p>
<div style="float: left; width: 80%">
<p>{% trans "This is your current avatar." %}</p>
{% if not avatars %}
<p>{% blocktrans %}Your avatar currently comes from <a href="http://www.gravatar.com/">Gravatar</a>, but you can upload a custom avatar just for this site.{% endblocktrans %}</p>
{% endif %}
</div>
<div class="clearfix"></div>

{% if avatars %}
<h2>{% trans "Manage Avatar" %}</h2>

  <ul class="avatar_choices">
    {% for avatar in avatars %}
      {% if avatar.primary %}
      <li class="current_default">
      {% else %}
      <li>
      {% endif %}
      {% render_avatar avatar 80 %}
          <form method="post" action="">
              <input type="hidden" name="choice" value="{{ avatar.id }}" />
              {% if avatar.primary %}
              <input type="submit" value="{% trans "Default Avatar" %}" disabled="true" style="opacity: 0.7; color: #aaa;" />
	      {% else %}
              <input type="submit" value="{% trans "Set as Default" %}" />
	      {% endif %}
          </form>
          <form method="post" action="{% url avatar_delete %}">
              <input type="hidden" name="choices" value="{{ avatar.id }}" />
              <input type="hidden" name="next" value="{% url avatar_change %}" />
              <input type="submit" value="{% trans "Delete" %}" class="negative-button" />
          </form>
      </li>
    {% endfor %}
  </ul>
  <div class="clearfix"></div>
  <p>{% blocktrans %}To return to using your Gravatar, delete your uploaded avatars.{% endblocktrans %}</p>

{% endif %}

<h2>{% trans "Upload an Avatar" %}</h2>

<p>{% blocktrans %}Your image will be scaled and cropped to best fit as an avatar after upload. For the most accurate results, scale and crop before uploading.{% endblocktrans %}</p>

<p>{% blocktrans %}We support JPEG, GIF, BMP, and PNG images. The maximum size of an image is 400KB.{% endblocktrans %}</p>

<form enctype="multipart/form-data" method="POST" action="">
  <input type="file" name="avatar" value="{% trans "Avatar Image" %}" />
  <input type="submit" value="{% trans "Upload Avatar" %}" />
</form>

{% endblock %}
