{% load compress %}
{% load exhibit_tags %}
<script type="text/javascript" src="http://www.google.com/jsapi"></script>

{% compress js %}
<script type="text/javascript" src="{{STATIC_URL}}simile/exhibit/extensions/map/scripts/openlayers/OpenLayers.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        OpenLayers._getScriptLocation = function() {
            return "{{STATIC_URL}}simile/exhibit/extensions/map/scripts/openlayers/";
        };
    });

</script>
<script type="text/javascript" src="{{STATIC_URL}}simile/exhibit/extensions/map/scripts/openlayers/OpenStreetMap.js"></script>
{% endcompress %}

{% compress js %}
{% include "simile/js/timeline.html" %}

<script type="text/javascript" src="{{STATIC_URL}}simile/exhibit/extensions/time/scripts/timeline-view.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}simile/exhibit/extensions/time/locales/en/time-locale.js"></script>

<script type="text/javascript" src="{{STATIC_URL}}simile/exhibit/extensions/chart/scripts/scatter-plot-view.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}simile/exhibit/extensions/chart/scripts/bar-chart-view.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}simile/exhibit/extensions/chart/scripts/pivot-table-view.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}simile/exhibit/extensions/chart/locales/en/chart-locale.js"></script>

<script type="text/javascript" src="{{STATIC_URL}}simile/exhibit/extensions/piechart/scripts/piechart-view.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}simile/exhibit/extensions/piechart/locales/en/piechart-locale.js"></script>

<script type="text/javascript" src="{{STATIC_URL}}simile/exhibit/extensions/map/scripts/olmap-view.js"></script>
{#<script type="text/javascript" src="{{STATIC_URL}}simile/exhibit/extensions/map/locales/en/map-locale.js"></script>#}

{% endcompress %}

<script type="text/javascript">
      Exhibit.OLMapView._markerUrlPrefix = "{% simile_painter_url %}";
</script>