South>=0.8.4,<2.0
Django==1.6.2
django-localflavor-us==1.1
# pillow==2.1.0 # See unix.stackexchange.com 105265
-e git+https://github.com/python-imaging/Pillow.git#egg=Pillow
django-announcements==1.0.2
django-celery==3.0.23
django-registration==3.1.2
django_compressor==1.3
django-extensions==1.3.2
django-pagination==1.0.7
django-crispy-forms==1.4.0
django-require==1.0.5
django-gravatar2==1.1.3

# django-curation is required by viewshare.apps.discover
-e git+https://github.com/theatlantic/django-curation.git#egg=django-curation

# Uncomment for uservoice integration
# pycrypto==2.3
