<div id="navigator" class="colmask rightmenu">
  
  <div ex:role="exhibit-collection" ex:itemTypes="Collection"></div>  <!-- has to be before view panel -->
  <div class="colleft"> 
  <!-- view panel -->
  
  <div ex:role="viewPanel" class="col1">
    
    <!-- map lens -->
    
    <div ex:role="view"
     ex:viewClass="OLMap"
     ex:label="Where"
     ex:latlng=".organizations.location"
     ex:mapHeight="500"
     ex:center="40.0, -88.0"
     ex:zoom="3">

      <!-- lens -->
      
      <div ex:role="lens" style="display:none" class="item">        
    
    <table>
      <tr>
        <td width="30%">
          <div class="item-preview">
        <div class="image thumbnailimage">
            <a ex:href-content=".home_page" class="external" target="_blank">
                <img ex:src-content="if(exists(.thumbnail), .thumbnail, '{{STATIC_URL}}collection_catalog/img/default.png')" />  
            </a>
        </div>
          </div>
        </td>
        <td>
          <div class="item-desc">
        <div class="ititle"><a ex:href-content=".home_page" class="external" target="_blank"><span ex:content=".label"></span></a></div>
        <p class="idesc"><span ex:content=".description"></span></p>
          </div>
        </td>
        <td width="10%">
          <div class="item-view">
        <span ex:if-exists=".views">
            <a ex:href-content=".views" class="external" target="_blank"><img src="{{STATIC_URL}}images/view.png" width="48" alt="{{ SITE_NAME }} View" title="{{ SITE_NAME }} view available"/></a>
        </span>           
        
          </div>
        </td>
      </tr>
    </table>
      
    </div>
      
    </div> <!-- end view -->
    
    <!-- project view -->
    
    <div ex:role="view"
     ex:label="What">
      
      <!-- project lens -->
      
      <div ex:role="lens" style="display:none" class="item">        
          
    <table>
      <tr>
        <td width="30%">
          <div class="item-preview">
        <div class="image thumbnailimage">
          <a ex:href-content=".home_page" class="external" target="_blank">
            <img ex:src-content="if(exists(.thumbnail), .thumbnail, '{{STATIC_URL}}collection_catalog/img/default.png')" />   
          </a>          
        </div>
          </div>
        </td>
        <td class="item-desc">
        <div class="ititle"><a ex:href-content=".home_page" class="external" target="_blank"><span ex:content=".label"></span></a></div>
        <p class="idesc"><span ex:content=".description"></span></p>
        </td>
        <td width="10%">
          <div class="item-view">
        <span ex:if-exists=".views">
          <a ex:href-content=".views" class="external" target="_blank"><img src="{{STATIC_URL}}images/view.png" width="48" alt="{{ SITE_NAME }} View" title="{{ SITE_NAME }} view available"/></a>
        </span>
          </div>
        </td>
      </tr>
    </table>
      </div> 
    </div>
    <!-- end project lens -->
  </div>
  
  <div class="facets col2">
    <b>Search</b><br />
    <div class="datasearch"><span ex:role="facet" ex:facetClass="TextSearch"></span></div>        
    <br />

    <div ex:role="facet" ex:facetClass="Cloud" ex:showMissing="false" ex:expression=".topics.label" ex:facetLabel="Topics" ex:collapsible="true"></div>
    <br />
    
    <div ex:role="facet" ex:expression=".organizations.label" ex:facetLabel="Collecting Institutions" ex:collapsible="true"></div>

    <div ex:role="facet" ex:expression="if(exists(.views),'{{ SITE_NAME }} and Native Interfaces','Native Interface Only')" ex:facetlabel="Views" ex:fixedorder="{{ SITE_NAME }} and Native Interfaces;Native Interfaces Only" ex:height="4em"></div>
  </div>
  </div>
</div><!-- end navigator -->
