{% load i18n %}

<script type="text/template" class="record-view" id="map-view-template">

  <form id="view-setting-form" class="form">
    <fieldset>                  
      
      <div class="container-fluid">          
	<div class="row-fluid">          
	  
	  <div class="view-variables">
	    <div class="control-group">
	      <label class="control-label" for="view_label_input">{% trans "Label" %}</label>
	      <div class="controls">
		<div class="input-append">
		  <input type="text" id="view_label_input"/>
		</div>
		<span class="help-inline">{% trans "Free text title of view" %}</span>
	      </div>
	    </div>
	    
	    
	    <div class="row-fluid">
	      
	      <!-- position latlong and zoom side by side -->
	      
	      <div class="span4">
		<div class="control-group">
		  <div class="control">
		    <label class="control-label" for="latlng_property">{% trans "Latitude / Longitude" %}</label>
		    <div class="controls">
		      <div class="input-append">
			<select class="input-medium" id="latlng_property"></select>
		      </div>
		    </div>
		  </div>
		</div>
	      </div>
	      
	      <div class="span4">
		<div class="control-group">
		  <div class="control">
		    <label class="control-label" for="zoom_level">{% trans "Zoom" %}</label>
		    <div class="controls">
		      <select class="input-medium" id="zoom_level">
			<option value="">auto</option>
			<option value="1">1 (Farthest)</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
			<option value="5">5</option>
			<option value="6">6</option>
			<option value="7">7</option>
			<option value="8">8</option>
			<option value="8">9</option>
			<option value="10">10 (Nearest)</option>
		      </select>
		    </div>
		  </div>
		</div>
	      </div>
	      
	      <div class="span4">
		<div class="control-group">
		  <label class="control-label" for="color_property">{% trans "Color Key" %}</label>
		  <div class="controls">
		    <select class="input-medium" id="color_property"></select>
		  </div>
		</div>
	      </div>
	      
	    </div> <!-- end row-fluid -->			  
	    
	  </div> <!-- end view-variables -->
	  
	  <!-- Lens specific -->
	  
	  <div class="lens-variables">
	    <label class="control-label" for="lens_editor">{% trans "Lens" %}</label>
	    <div id="lens_editor">      
	    </div>
	  </div>
	  
	  <button type="submit" class="btn btn-primary">Save</button>
	</div> <!-- end row-fluid -->
      </div> <!-- end container-fluid -->
      
    </fieldset>
  </form>

</script>

