{% load i18n %}

<script type="text/template" class="record-view" id="scatterplot-view-template">

      <form class="form">
        
        <fieldset>
          
            <div class="container-fluid">

              <div class="row-fluid">

                <div class="span8">

                  <legend class="freemix-fieldset-legend">{% trans "Scatter Plot View Settings" %}</legend>

                </div>

              </div> <!-- end row -->

            </div> <!-- end container -->

          <div class="container-fluid">          
            
            <div class="row-fluid">          
              
              <div class="span5 view-variables">
                
                <div class="control-group">
                  <label class="control-label" for="view_label_input">{% trans "Label" %}</label>
                  <div class="controls">
                    <div class="input-append">
                      <input type="text" id="view_label_input"/>
                    </div>
                    <span class="help-inline">{% trans "Freetext title of view" %}</span>
                  </div>
                </div>
                
                <div class="control-group">
                  <label class="control-label" for="xaxis_property">{% trans "X Axis" %}</label>
                  <div class="controls">
                    <select id="xaxis_property"></select>
                  </div>
                </div>
                
                <div class="control-group">
                  <label class="control-label" for="yaxis_property">{% trans "Y Axis" %}</label>
                  <div class="controls">
                    <select id="yaxis_property"></select>
                  </div>
                </div>


                <div class="control-group">
                  <label class="control-label" for="lens_editor">{% trans "Lens" %}</label>
                  <div id="lens_editor">

                  </div>
                </div>
              </div> <!-- end view-variables -->

              
            </div> <!-- end row -->
            
          </div> <!-- end container -->
                
	      </fieldset>
      </form>

</script>
