{% load i18n %}

<script type="text/template" class="record-view" id="scatterplot-view-template">

      <form class="form">
        
        <fieldset>
          
          <div class="container-fluid">          

	    <div class="row-fluid">
	      <legend class="view-settings-label">{% trans "Scatter Plot View Settings" %}</legend>
	    </div>

            
            <div class="row-fluid">          
              
              <div class="view-variables">
                
                <div class="control-group">
                  <label class="control-label" for="view_label_input">{% trans "Label" %}</label>
                  <div class="controls">
                    <div class="input-append">
                      <input type="text" id="view_label_input"/>
                    </div>
                    <span class="help-inline">{% trans "Freetext title of view" %}</span>
                  </div>
                </div>
                
                <div class="control-group input-append">
                  <label class="control-label" for="xaxis_property">{% trans "X Axis" %} <a class="augment" href = ""><i class="fa fa-plus-square fa-lg"></i></a></label>
                  <div class="controls">
                    <select class="input-medium" id="xaxis_property"></select>
                  </div>
                </div>
                
                <div class="control-group input-append">
                  <label class="control-label" for="yaxis_property">{% trans "Y Axis" %} <a class="augment" href = ""><i class="fa fa-plus-square fa-lg"></i></a></label>
                  <div class="controls">
                    <select class="input-medium" id="yaxis_property"></select>
                  </div>
                </div>

		<legend class="lens-settings-label">{% trans "Lens Settings" %}</legend>

                <div class="control-group">
                  <div id="lens_editor">
                  </div>
                </div>
              </div> <!-- end view-variables -->

              
            </div> <!-- end row -->
            
          </div> <!-- end container -->
                
	      </fieldset>
      </form>

</script>
