{% load i18n %}

<script type="text/template" class="record-view" id="thumbnail-view-template">

      <form class="form">
        
        <fieldset>
          
          <div class="container-fluid">          

	    <div class="row-fluid">
	      <legend class="view-settings-label">{% trans "Gallery View Settings" %}</legend>
	    </div>
            
            <div class="row-fluid">          
              <div class="view-variables">
                
                <div class="control-group">
                  <label class="control-label" for="view_label_input">{% trans "Label" %}</label>
                  <div class="controls">
                    <div class="input-append">
                      <input type="text" id="view_label_input"/>
                    </div>
                    <span class="help-inline">{% trans "Freetext title of view" %}</span>
                  </div>
                </div>
                
                <div class="control-group">
                  <label class="control-label" for="sort_property">{% trans "Sort By" %}</label>
                  <div class="controls">
                    <select class="input-medium" id="sort_property"></select>
                    <select id="sort_order" name="sort_order" class="sort-order input-medium inline">
                      <option value="ascending">{% trans "Ascending" %}</option>
                      <option value="descending">{% trans "Descending" %}</option>
                    </select>
                  </div>
                </div>

   	      <legend class="freemix-fieldset-legend">{% trans "Lens Settings" %}</legend>

              <div class="control-group">
                <label class="control-label" for="image_property">{% trans "Image" %}</label>
                <div class="controls">
                  <select id="image_property"></select>
                </div>
              </div>

              <div class="control-group">
                <label class="control-label" for="title_property">{% trans "Title" %}</label>
                <div class="controls">
                  <select id="title_property"></select>
                </div>
              </div>

              <div class="control-group">
                <label class="control-label" for="title_link_property">{% trans "Link" %}</label>
                <div class="controls">
                  <select id="title_link_property"></select>
                </div>
              </div>

              </div> <!-- end view-variables -->
              
            </div> <!-- end row -->
            
          </div> <!-- end container -->

        </fieldset>

      </form>

</script>

