{% load i18n %}
<script type="text/template" id="view-editor">
  <div class="widget-edit-dialog view-editor">

    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3 id="view-editor-title">View Widget</h3>
    </div>

    <div class="modal-body">
	
      <div class="view-design-widget">
	
	<div class="row-fluid">

	  <div class="span1">
	    <div class="view-design-widget-options tabbable tabs-left">
	      <ul class="nav nav-tabs">
		<li class="active">
		  <a href="#">
		    <span class="view-widget-option-list view-widget-option">
		      <i class="fa fa-list fa-3x"></i><span class="view-widget-label">List</span>
		    </span>
		  </a>
		</li>
		<li>
		  <a href="#">
		    <span class="view-widget-option-map view-widget-option">
		      <i class="fa fa-globe fa-3x"></i><span class="view-widget-label">Map</span>
		    </span>
		  </a>
		</li>
		<li>
		  <a href="#">
		    <span class="view-widget-option-scatter-plot view-widget-option">
		      <i class="fa fa-building-o fa-rotate-90 fa-3x"></i><span class="view-widget-label">Scatter Plot</span>
		    </span>
		  </a>
		</li>
		<li>
		  <a href="#">
		    <span class="view-widget-option-table view-widget-option">
		      <i class="fa fa-table fa-3x"></i><span class="view-widget-label">Table</span>
		    </span>
		  </a>
		</li>
		<li>
		  <a href="#">
		    <span class="view-widget-option-timeline view-widget-option">
		      <i class="fa fa-align-center fa-3x"></i><span class="view-widget-label">Timeline</span>
		    </span>
		  </a>
		</li>
		<li>
		  <a href="#">
		    <span class="view-widget-option-pie view-widget-option">
		      <i class="fa fa-adjust fa-3x"></i><span class="view-widget-label">Pie Chart</span>
		    </span>
		  </a>
		</li>
		<li>
		  <a href="#">
		    <span class="view-widget-option-bar view-widget-option">
		      <i class="fa fa-bar-chart-o fa-3x"></i><span class="view-widget-label">Bar Chart</span>
		    </span>
		  </a>
		</li>
		<li>
		  <a href="#">
		    <span class="view-widget-option-gallery view-widget-option">
		      <i class="fa fa-camera-retro fa-3x"></i><span class="view-widget-label">Gallery</span>
		    </span>
		  </a>
		</li>
	      </ul>
	    </div>
	  </div>
	  
          <div class="span5">
            <div class="view-properties settings-well well">
	      
	      <div class="accordion" id="view-accordion">
		<div class="accordion-group">
		  <div class="accordion-heading">
		    <a class="accordion-toggle" data-toggle="collapse" data-parent="#view-accordion" href="#collapseViewSetting">
		      <legend>{% trans "View Settings" %}</legend>
		    </a>
		  </div>
		  
		  <div id="collapseViewSetting" class="accordion-body collapse in">
		    <div class="accordion-inner">
		      
		      <div class="view-edit-body">
			<!-- inject view-edit body here -->
		      </div>
		      
		    </div> <!-- accordion-inner -->
		  </div> <!-- collapseViewSetting -->
		</div> <!-- accordion-group -->
		
		<div class="accordion-group">
		  <div class="accordion-heading">
		    <a class="accordion-toggle" data-toggle="collapse" data-parent="#view-accordion" href="#collapseAugmentationSetting">
		      <legend>{% trans "Augmentation Settings" %}</legend>	  
		    </a>
		  </div>
		  
		  <div id="collapseAugmentationSetting" class="accordion-body collapse">
		    <div class="accordion-inner">
		      
		      {% include "exhibit/edit/views/map-augment.html" %}
		      
		    </div> <!-- end accordion-inner -->
		  </div> <!-- end accordion-body -->
		</div> <!-- end accordion-group -->
		
	      </div> <!-- end accordion -->
	      
            </div>
          </div>
	  
          <div class="span6">
            <div class="view-preview well">
	      <form>
                <fieldset>
                  <legend>{% trans "Preview" %}</legend>
                  <div class="view-edit-body">
                    <div id="view-preview">
		      <!-- inject view-preview body here -->
		    </div>
                  </div>
                </fieldset>
	      </form>
            </div>
	    
          </div> <!-- row-fluid -->
	  
        </div> <!-- view-design-widget -->
	
	
      </div>
    </div>
    
  </div>
</script>
