{% load i18n %}
<script type="text/template" id="view-editor">
  <div class="widget-edit-dialog view-editor">

    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3 id="view-editor-title">View Widget</h3>
    </div>

    <div class="modal-body">
	
      <div class="view-design-widget">
	
	<div class="view-design-widget-header">

	  <ul class="nav nav-pills">
	    <li class="active">
	      <a href="#"><span class="view-widget-option-list view-widget-option">List</span></a>
	    </li>
	    <li><a href="#"><span class="view-widget-option-map view-widget-option">Map</span></a></li>
	    <li><a href="#"><span class="view-widget-option-scatter-plot view-widget-option">Scatter Plot</span></a></li>
	    <li><a href="#"><span class="view-widget-option-table view-widget-option">Table</span></a></li>
	    <li><a href="#"><span class="view-widget-option-timeline view-widget-option">Timeline</span></a></li>
	    <li><a href="#"><span class="view-widget-option-pie view-widget-option">Pie Chart</span></a></li>
	    <li><a href="#"><span class="view-widget-option-bar view-widget-option">Bar Chart</span></a></li>
	    <li><a href="#"><span class="view-widget-option-gallery view-widget-option">Gallery</span></a></li>
	  </ul>

	</div>
	
	<div class="row-fluid">
          <div class="span6">
            <div class="view-properties settings-well well">
	      <div class="view-edit-body">
		<!-- inject view-edit body here -->
	      </div>
            </div>
          </div>
          <div class="span6">
            <div class="view-preview well">
	      <form>
                <fieldset>
                  <legend>{% trans "Preview" %}</legend>
                  <div class="view-edit-body">
                    <div id="view-preview">
		      <!-- inject view-preview body here -->
		    </div>
                  </div>
                </fieldset>
	      </form>
            </div>
          </div> <!-- row-fluid -->

        </div> <!-- view-design-widget -->
	  

	</div>
    </div>

    <div class="modal-footer">
      <button id="view_save_button" class="btn btn-primary">Save</button>
    </div>

  </div>
</script>
