{% load compress %}

{%  compress js %}
    <script type="text/javascript" src="{{STATIC_URL}}simile/ajax/simile-ajax-base.js"></script>
    <script type="text/javascript">
    SimileAjax.urlPrefix="{{ STATIC_URL }}simile/ajax/"
    </script>
    <script type="text/javascript" src="{{STATIC_URL}}simile/ajax/scripts/platform.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}simile/ajax/scripts/debug.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}simile/ajax/scripts/xmlhttp.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}simile/ajax/scripts/json.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}simile/ajax/scripts/dom.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}simile/ajax/scripts/graphics.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}simile/ajax/scripts/date-time.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}simile/ajax/scripts/string.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}simile/ajax/scripts/html.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}simile/ajax/scripts/data-structure.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}simile/ajax/scripts/units.js"></script>

    <script type="text/javascript" src="{{STATIC_URL}}simile/ajax/scripts/ajax.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}simile/ajax/scripts/history.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}simile/ajax/scripts/window-manager.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}simile/ajax/scripts/remoteLog.js"></script>
    <script type="text/javascript">
    SimileAjax.History.enabled = false;
    </script>
{% endcompress %}