{% extends "site_base.html" %}

{% load i18n %}
{% load freemix_helpers %}
{% load exhibit_tags %}
{% load compress %}

{% block head_title %}{% blocktrans %}Builder{% endblocktrans %}{% endblock %}

{% block rtab_id %}id="builder_tab"{% endblock %}
{% block body_class %}attraction{% endblock %}

{% block subnav %}

{% endblock %}
    
{% block head_data %}
    <link rel="exhibit/data" href="{{ data_url }}"/>
    <link rel="exhibit/data" href="{{dataset_properties_cache_json}}"/>

    <link rel="freemix/dataprofile" href="{{ dataset_profile_url }}"/>
    <link rel="freemix/exhibit_profile" href="{{ exhibit_profile_url }}"/>
{% endblock %}

{% block head_css %}
{{block.super}}
{% compress css %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}freemix/css/layout.css"/>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}freemix/css/views.css"/>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}freemix/css/editor.css"/>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}exhibit/css/canvas.css"/>

{% include "simile/css/exhibit.html" %}
{% include "simile/css/exhibit_extensions.html" %}
{% endcompress %}
{% endblock head_css %}

       
{% block head_scripts %}
    {{ block.super }}
    {% include "simile/js/exhibit.html" %}
    {% include "simile/js/exhibit_extensions.html" %}
    {% compress js %}

    {% include "freemix/js_include/jquery_ui.html" %}

    {% include "freemix/js_include/viewer.html" %}
    <script type="text/javascript" src="{{STATIC_URL}}freemix/js/lib/ui.multiselect.js"></script>

    <script type="text/javascript" src="{{STATIC_URL}}freemix/js/lib/jquery.form.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}freemix/js/lib/jquery.jeditable.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}freemix/js/lib/hoverIntent.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}freemix/js/lib/jquery.uuid.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}freemix/js/lib/jquery.cookie.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}freemix/js/csrf.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}freemix/js/freemix.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}freemix/js/exhibit.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}freemix/js/property.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}freemix/js/identify.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}exhibit/js/widget.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}exhibit/js/facet.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}exhibit/js/view.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}exhibit/js/views/map-view.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}exhibit/js/views/record-pager.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}exhibit/js/lib/jquery.themeswitcher.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}exhibit/js/editor.js"></script>
    {% include "exhibit/lens_js.html" %}
    {% include "exhibit/facet_js.html" %}
    {% endcompress %}

{% endblock head_scripts %}

{% block body %}

{% if exhibit %}
<div class="exhibit_edit">
  <ul class="exhibit_list_items">
    <li class="exhibit_list_item result_set_item clearfix {% if exhibit.published %}public{% else %}private{% endif %}">
      
      <div class="exhibit-title"><a href="{{  exhibit.get_absolute_url }}">{{exhibit.title}}</a></div>

      {% if exhibit.description %}
      {% ifnotequal exhibit.description exhibit.description|truncatewords:100 %}
      <div class="exhibit-description exhibit-short-description">
        {{ exhibit.description|truncatewords:100 }}
        <a class="readmore" href="{{ exhibit.get_absolute_url }}">read more</a>
      </div>
      <div class="exhibit-description exhibit-long-description ui-helper-hidden">
        {{ exhibit.description }}
      </div>
      {%  else %}
      <div class="exhibit-description">
	{{ exhibit.description }}
      </div>
      {% endifnotequal %}
      {% endif %}

      <div class="exhibit-left exhibit-metadata">
        {% trans "Created by"%} <span class="exhibit-creator"><a href="{% url profile_detail exhibit.owner.username %}">{{exhibit.owner|nicename}}</a></span> {% trans "on"%} <span class="exhibit-modified-data">{{exhibit.modified|date:"N j, Y"}}</span> {% trans "and based on the " %}<span class="exhibit-dataset-title"><a href="{{exhibit.dataset.get_absolute_url }}" title="{{exhibit.dataset.title}}">{{exhibit.dataset.title}}</a></span> {% trans "data set." %}
      </div>
      
      <div class="exhibit-right exhibit-actions">
	
	<div class="exhibit-links">
	  
          <span class="action action_preview_exhibit">
	    <input type="checkbox" id="preview_toggle" /><label for="preview_toggle">{% trans "Preview" %}</label>
	  </span>

          <span class="divider">|</span>

          <span class="action action_save_exhibit">
	    <span id="save_message"></span>
	    <a href="" id="save_button">{% trans "Save" %}</a>
	  </span>

          <span class="divider">|</span>
          <span class="action action_cancel_exhibit">
	    <a href="{{ cancel_url }}" id="cancel_button">{% trans "Cancel" %}</a>
	  </span>

	</div>
      </div>
    </li>
  </ul>
</div>
{% else %}
<div class="exhibit_edit">
  <ul class="exhibit_list_items">
    <li class="exhibit_list_item result_set_item clearfix">

      <div class="exhibit-title">View based on '{{dataset.title}}'</div>

      <div class="exhibit-right exhibit-actions">
	
	<div class="exhibit-links">
	  	  	  
          <span class="action action_preview_exhibit">
	    <input type="checkbox" id="preview_toggle" /><label for="preview_toggle">{% trans "Preview" %}</label>
	  </span>

          <span class="divider">|</span>

          <span class="action action_save_exhibit">
	    <span id="save_message"></span>
	    <a href="" id="save_button">{% trans "Save" %}</a>
	  </span>

          <span class="divider">|</span>
          <span class="action action_cancel_exhibit">
	    <a href="{{ cancel_url }}" id="cancel_button">{% trans "Cancel" %}</a>
	  </span>

	</div>
    </li>
  </ul>
</div>
{% endif %}

<div id="theme" >
  {% theme_list %}
</div>

<div id="contents" class="ui-helper-hidden">
  <div id="build" class="">
    <div id="canvas">
        {% include canvas.location %}
    </div>
  </div>
  <div id="preview" class=""></div>
</div>


<div class="ui-helper-hidden">
  <div id="templates">
    <div id="canvas-template">
        {% include canvas.location %}
    </div>

    {% block builder_templates %}
    {# facets #}
    {% include "exhibit/edit/facets/list-facet-editor.html" %}
    {% include "exhibit/edit/facets/slider-facet-editor.html" %}
    {% include "exhibit/edit/facets/numeric-facet-editor.html" %}
    {% include "exhibit/edit/facets/logo-facet-editor.html" %}
    {% include "exhibit/edit/facets/tagcloud-facet-editor.html" %}
    {% include "exhibit/edit/facets/text-facet-editor.html" %}
    {% include "exhibit/edit/facets/search-facet-editor.html" %}

    {# views #}
    {% include "exhibit/edit/views/list-view.html" %}
    {% include "exhibit/edit/views/map-view.html" %}
    {% include "exhibit/edit/views/piechart-view.html" %}
    {% include "exhibit/edit/views/record-view.html" %}
    {% include "exhibit/edit/views/scatterplot-view.html" %}
    {% include "exhibit/edit/views/table-view.html" %}
    {% include "exhibit/edit/views/timeline-view.html" %}
    {% include "exhibit/edit/views/thumbnail-view.html" %}


    {% endblock %}

  </div>
  <div id="popup-scratch" class="ui-helper-reset ui-widget"></div>
</div>

{% endblock body %}
