{% extends "site_base.html" %}

{% load i18n %}
{% load freemix_helpers %}
{% block head_title %}{% trans "Confirm Email" %}{% endblock %}

{% block body %}
    {% if email_address %}
        {% with email_address.email as email  %}
        {% with email_address.user.username as email_user %}
        <h1>{% trans "Email Confirmed" %}</h1>
        
        <p>{% blocktrans %}The email address for user '{{ email_user}}' has been set to {{ email }}.{% endblocktrans %}</p>
        {% endwith %}
        {% endwith %}
    {% else %}
        <p>{% trans "Invalid confirmation key." %}</p>
    {% endif %}
{% endblock %}
