{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block head_css %}
{{ block.super }}
<link href="{{STATIC_URL}}viewshare/css/settings.css" rel="stylesheet" type="text/css" media="screen,projection" />
{% endblock %}

{% block body %}

<!-- <h1>{% trans "Change Password" %}</h1> -->

<div class="settings_options settings_wrapper">	
  <div class="settings_text">
    
    <form method="POST" action="" class="uniForm settings passwd-setting form-horizontal">
      
      <fieldset>
	<legend>Change Password Settings</legend>
        {% csrf_token %}

	<br />
	<div class="row-fluid">
	  <div class="span6 offset1">
	
            <div class="control-group">
              <label class="control-label" for="id_username">Current Password</label>
              <div class="controls">
		<input type="password" id="id_oldpassword" placeholder="" name="oldpassword" required="true"></input>
              </div>
	    </div>
	    
            <div class="control-group">
              <label class="control-label" for="id_username">New Password</label>
              <div class="controls">
		<input type="password" id="id_password1" placeholder="" name="password1" required="true"></input>
              </div>
	    </div>
	    
            <div class="control-group">
              <label class="control-label" for="id_username">New Password (again)</label>
              <div class="controls">
		<input type="password" id="id_password2" placeholder="" name="password2" required="true"></input>
              </div>
	    </div>
	    
            <div class="control-group">
	      <div class="controls">
		<input type="submit" class="btn btn-primary" name="action" value="{% trans "Change password" %}"/>
	      </div>
            </div>

	    {% if form.non_field_errors %}
	    <div class="non-field-errors">
	      {% for err in form.non_field_errors %}
	      <div class="row-fluid">
		<div class="span8 offset2">
		  <div class="alert alert-error">
		    <p class="center">{{ err }}</p>
		  </div>
		</div>
	      </div>
	      {% endfor %}
	    </div>
	    {% endif %}
	
	  </div>
	</div>

      </fieldset>
    </form>

  </div>
</div>
{% endblock %}
