{% extends "account/base.html" %}

{% load i18n %}
{% load freemix_helpers %}

{% block head_title %}{% trans "Reset Password" %}{% endblock %}

{% block extra_head %}
{{ block.super }}
<link href="{{STATIC_URL}}viewshare/css/settings.css" rel="stylesheet" type="text/css" media="screen,projection" />
{% endblock %}

{% block body %}

{% if user.is_authenticated %}
<div class="alert alert-info">
  {% blocktrans %}Note: you are already logged in as{% endblocktrans %} {{ user.username }}.
</div>
{% endif %}

<!-- <h1>{% trans "Password Reset" %}</h1> -->

<div class="settings_options settings_wrapper">	
  <div class="settings_text">
    
    <fieldset>
      <legend>Password Reset</legend>
    </fieldset>
    

    <br />

    {% if invalid_key %}

    <div class="row-fluid">
      <div class="span10 offset1">
	<div class="alert alert-warning">
          {% blocktrans %}This password reset key is invalid or has already been used. Please {% endblocktrans %}<a href="{% url 'acct_passwd' %}">{% trans "try again" %}</a>.
	</div>
      </div>
    </div>

    {% else %}

    <div class="row-fluid">
      <div class="span10 offset1">
	<div class="alert alert-info">
          {% blocktrans %}We have sent you an e-mail to <b>{{ email }}</b> with instructions on how to reset your password. If you do not receive it within a few minutes, please contact us at <a href="mailto:{{ CONTACT_EMAIL }}">{{ CONTACT_EMAIL }}</a>.{% endblocktrans %}
	</div>
      </div>
    </div>

    {% endif %}

  </div>
</div>

{% endblock %}
