{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block body %}
    <h1>{% trans "Set Password" %}</h1>
    
    <form method="POST" action="" class="uniForm">
        <fieldset class="inlineLabels">
            {%csrf_token%}
            {{ password_set_form|crispy }}
             <div class = "form_block">
                 <input type="submit" name="action" value="{% trans "set password" %}"/>
            </div>
        </fieldset>
    </form>
{% endblock %}
