{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load freemix_helpers %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block extra_head %}
{{ block.super }}
<link href="{{STATIC_URL}}viewshare/css/settings.css" rel="stylesheet" type="text/css" media="screen,projection" />

<script type="text/javascript">
$(document).ready(function() {
    $("#id_email").focus();
});
</script>
{% endblock %}

{% block body %}

<!-- <h1>{% trans "Password Reset" %}</h1> -->

{% if user.is_authenticated %}
<div class="alert alert-info">
  {% blocktrans %}Note: you are already logged in as{% endblocktrans %} {{ user.username }}.
</div>
{% endif %}
    
<div class="settings_options settings_wrapper">	
  <div class="settings_text">

    <form method="post" action="" class="uniForm form form-horizontal">
      <fieldset>
	<legend>Reset Password</legend>

	<div class="row-fluid">
	  <div class="span10 offset1">
	    <div class="alert alert-info">
	      {% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}
	    </div>
	  </div>
	</div>
    
        {% csrf_token %}
        {{ password_reset_form|crispy }}

        <div class="control-group">
          <div class="controls">
            <input type="submit" class="btn btn-primary" value="{% trans "Reset my password" %}" />
          </div>
	</div>

      </fieldset>
    </form>
    
{% endblock %}
