{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Up" %}{% endblock %}

{% block head_css %}
{{ block.super }}
<link href="{{STATIC_URL}}viewshare/css/login.css" rel="stylesheet" type="text/css" media="screen,projection" />
{% endblock %}

{% block body %}

<h1>Sign Up</h1>

<div class="clearfix">
  
  <fieldset>
    
    <div class="fieldtext">
      
      <p>Thank you for your interest in {{ SITE_NAME }}!</p>
      
      <p>{{ SITE_NAME }} is currently in invitational Beta and only
	accessible to NDIIPP partners. To gain access to {{ SITE_NAME }} with
	an authorized account, please send us an email (including your
	desired username) to <a href =
				"mailto:ndiippaccess@loc.gov">ndiippaccess@loc.gov</a>
      </p>
      
      <p>Our systems team will respond within 24 hours with your account
	information.</p>
    </div>
  </fieldset>
  
  <br />
  <br />
</div>
{% endblock %}
