<div class='facet'>
    <div class='facet-header label'
         title='Click and drag to move to any other facet sidebar or to reorder facets'>
        <i class='fa fa-arrows'></i>
        <span class='view-label'/>
        <i class='fa fa-times delete-button pull-right'></i>
    </div>
    <div class='facet-body well'>
        <div class='facet-content'></div>
        <div class='facet-menu'>
            <div class='row-fluid'>
                <div class='span12'>
                    <div class='pull-right'><a href='#' title='Edit this facet' class='btn btn-mini'>
                        <i class='fa fa-edit fa-lg'></i> Edit</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
