<div class='create-facet'>
    <button class='create-facet-button btn btn-small btn-info'
            href='#addWidgetModal_{{ id }}'
            data-toggle='modal'>
        <i class='fa fa-plus'></i>
        <span class='widget-label'>Add a Widget</span>
    </button>
</div>
<div class="facet-set"></div>

<div id='addWidgetModal_{{ id }}'
     class='widget-editor-modal modal hide fade'
     tabindex='-1'
     role='dialog'
     aria-labelledby='addWidgetModalLabel'
     aria-hidden='true'></div>
