  <div class="view-header container">
  <div class="row-fluid">

    <div class="span10">
    <ul class="view-set nav nav-tabs">

    </ul>

    </div>
    <div class="span2 create-view-button-pane">
      <div class="pull-right">
    <button class='create-view-button btn btn-small btn-info'
            href='#addViewModal'
            data-toggle='modal'>
        <i class='fa fa-plus'></i>
        <span class='widget-label'>Add a View</span>
    </button>
        </div>
    </div>

    </div>
  </div>
  <div class="view-content">

  </div>

  <div id='addViewModal'
     class='build-view-modal full-screen-modal modal hide fade'
     tabindex='-1'
     role='dialog'
     aria-labelledby='addViewModalLabel'
     aria-hidden='true'>
  </div>
