{% load i18n %}

<div class="delete_shared_key_dialog ui-helper-hidden">
    <div class="delete_shared_key_form">
      <p>{% blocktrans %}Really delete this <a class="shared_key_url">shared link</a>?{% endblocktrans %}</p>
    </div>

    <div class="button_group">
      <a href="#" class='button_link ok-button' title='OK'>OK</a>
      <a href="#" class='button_link negative-button cancel-button' title='Cancel'>Cancel</a>
    </div>

    <div class='delete_shared_key_failed'>Delete Failed<span class='cancel-button button ui-state-default ui-corner-all' title='OK'>OK</span></div>
</div>

<script type="text/javascript">
$(document).ready(function() {
    $(".delete_shared_key_dialog").dialog({
                    autoOpen: false,
                    modal: true,
                    draggable: false,
                    resizable: false,
                    title: "Delete a Shared View Link"
    });
    $(".delete_shared_key_dialog .ok-button").click(function(e) {
        $.ajax({
            type: "DELETE",
            url: $(".delete_shared_key_dialog .shared_key_url").attr("href"),
            success: function(msg) {
                window.location.reload( true );
            },
            error: function(xhr, status, error) {
                $(".delete_shared_key_form").hide();
                $(".delete_shared_key_form").show();

            }
        });

        e.preventDefault();
    });

    $(".delete_shared_key_dialog .cancel-button").click(function(e) {
        $(".delete_shared_key_dialog").dialog("close");
        e.preventDefault();
    });

    $("a.shared_key_delete").live('click',function(e) {
        var url = $(this).attr("href");
        $(".delete_shared_key_dialog").find("a.shared_key_url").attr("href", url);
        $(".delete_shared_key_failed").hide();
        $(".delete_shared_key_dialog").dialog("open");
        e.preventDefault();
    });
});
</script>
