{% extends "site_base.html" %}

{% load i18n %}
{% load uni_form_tags %}
{% load freemix_helpers %}
{% load cms_tags %}

{% block head_title %}{% trans "Login" %}{% endblock %}

{% block head_scripts %}
{{ block.super }}
<script type="text/javascript">
$(document).ready(function() {
    $("#id_username").focus();
});
</script>
{% endblock %}

{% block body %}

{% if user.is_authenticated %}
<p>
  <span class="warning">{% blocktrans %}You are already logged in as{% endblocktrans %} {{ user|nicename }}.</span>
</p>
<br />
{% else %}
{% url registration_register as signup_url %}
<p>{% blocktrans %}Don't have an account? <a href="{{ signup_url }}">Sign up</a>!{% endblocktrans %}</p>
<br />
{% endif %}

<div class="login_options login_wrapper">	
   <div class="login_text">
    <fieldset class="window inlineLabels loginTypeUP">

      <form class="login uniForm user_pass" method="POST">
          {% csrf_token %}	
	
          {{ form|as_uni_form }}
          <div class="form_block">
            <input type="submit" value="{% trans "Log in" %}" />
          </div>

          <div class="form_block">
            <a href="{% url acct_passwd_reset %}">{% trans "Forgot password?" %}</a>
          </div>
      </form>
    </fieldset>
   
   <div class="contact">
     {% blocktrans %}If you have any trouble logging in to your account, contact us at <a href="mailto:{{ CONTACT_EMAIL }}">{{ CONTACT_EMAIL }}</a>.{% endblocktrans %}
   </div>

  </div>  
</div>

<div class="clearfix"></div>


{% endblock %}
