{% extends "site_base.html" %}

{% load i18n %}
{% load uni_form_tags %}
{% load freemix_helpers %}
{% load cms_tags %}

{% block head_title %}{% trans "Login" %}{% endblock %}

{% block head_scripts %}
{{ block.super }}
<script type="text/javascript">
$(document).ready(function() {
    loginForms.init();
    $("#id_username").focus();
});
</script>
{% endblock %}

{% block body %}

{% if openid and not user.is_authenticated %}
<p><span class="warning">It appears you have started to login using OpenID. Want to <a href="/openid/register/">finish logging in</a>?</span></p>
{% endif %}

<h1>{% trans "Log In" %}</h1>

{% if user.is_authenticated %}
<p>
  <span class="warning">{% trans "Note" %}</span>: {% blocktrans %}you are already logged in as{% endblocktrans %} {{ user|nicename }}.
</p>
<br />
{% else %}
{% if ACCOUNT_OPEN_SIGNUP %}
{% page_url "acct_signup" as signup_url %}
<p>{% blocktrans %}Don't have an account? <a href="{{ signup_url }}">Sign up</a>!{% endblocktrans %}</p>
<br />
{% endif %}
{% endif %}

<div class="login_options login_wrapper">	
   <div class="login_text">
    <fieldset class="window inlineLabels loginTypeUP">

      <form class="login uniForm user_pass" method="POST" action="{% url acct_login %}">
          {% csrf_token %}	
	
          {{ form|as_uni_form }}
          <div class="form_block">
            <input type="submit" value="{% trans "Log in" %}" />
            <input type="reset" value="{% trans "Cancel" %}" />
          </div>

          <div class="form_block">
            <a href="{% url acct_passwd_reset %}">{% trans "Forgot password?" %}</a>
          </div>
      </form>
    </fieldset>
   
   <div class="contact">
     {% blocktrans %}If you have any trouble logging in to your account, contact us at <a href="mailto:{{ CONTACT_EMAIL }}">{{ CONTACT_EMAIL }}</a>.{% endblocktrans %}</p>
   </div>

  </div>  
</div>

<div class="clearfix"></div>


{% endblock %}
