{% extends "account/base.html" %}

{% load i18n %}
{% load freemix_helpers %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block body %}
    <h1>{% trans "Password Reset" %}</h1>
    
    {% if user.is_authenticated %}
        <p><span class="warning">{% blocktrans %}You are already logged in as{% endblocktrans %} {{ user|nicename }}.</span></p>
    {% endif %}
    
    <p>{% blocktrans %}We have sent you an e-mail to <b>{{ email }}</b>. If you do not receive it within a few minutes, contact us at <a href="mailto:{{ CONTACT_EMAIL }}">{{ CONTACT_EMAIL }}</a>.{% endblocktrans %}</p>
    
    <p>{% blocktrans %}When you receive the new password, you should <a href="{% url acct_login %}">log in</a> and change it as soon as possible.{% endblocktrans %}</p>
{% endblock %}
