{% extends "account/base.html" %}

{% load i18n %}
{% load uni_form_tags %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block acctpasswd-tab-selected %} ui-tabs-selected ui-state-active{% endblock %}

{% block body %}
    <h1>{% trans "Change Password" %}</h1>
    
    <form method="POST" action="" class="uniForm">
        <fieldset class="inlineLabels">
            {{ password_change_form|as_uni_form }}
             <div class = "form_block">
                 <input type="submit" name="action" value="{% trans "Change password" %}"/>
            </div>
        </fieldset>
    </form>
{% endblock %}
