body {
    background: #fff top left repeat-x url(../img/background.gif);
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 10pt;
    color: #000;
}

a {
    color: rgb(0, 176, 216);
}

#application-logo {
    background-image: url(../img/viewshare-logo.png);
    width: 272px;
}

.homeimage {
    float: left;
}

#footer {
color: grey;
}

#footer .footernav {
}

#footer #lc-logo {
    width: 158px;
    vertical-align:middle;
    padding-right: 3px;
}

#footer #z-logo {
    width: 72px;
    vertical-align:bottom;
    padding-bottom: 3px;
}

#footer .linknav {
padding-top: 1px;
}

#footer .sponspornav {
text-decoration:none;
}

#footer .left {
float: left;
padding-left: 25px;
}

#footer .right {
float: right;
padding-right: 20px;
}

#versions {
opacity:0.0;
filter: alpha(opacity=0);
}

.primarydisc {float: right; margin-left:20px;}

.primarydisc p{width: 280px; margin-top: 0px; font-size: 150%;}

.linkblock {
text-decoration: none; font-size:1.1em;font-weight:bold;width:245px;list-style:none;padding:1em; margin-top:.5em;}

#first
{background-color:#00993D;color:white; }

#second
{background-color:#5582A1;color:black;}

#third
 {background-color:#405777;color:white}

.stepblock
{height:110px; margin-top:10px; padding-left:1.5em; padding-right:1.5em; line-height:1.1em}
