#footer {
    padding: 1em 0 3em;
    font-size: 90%;
}

#versions {
    clear: both;
    color: #888;
    font-size: 90%;
    margin-bottom: 2em;
    text-align: center;
}

#versions:hover {
    color: #333;
}

ol.exhibit-tileView-body > li {
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

/* timeline plugin color override */
.timeline-event-label {
    color: #222;
}

div.olMap {
    background-color: #B5D6F1;
}

.hyper-upload {
    font-size: 125%;
    padding: 1em;
    text-align: center;
}

.hyper-upload a {
    text-decoration: none;
}

.hyper-upload p {
    margin: 1em 0;    
}

h1 {
    padding-top: 5px;
    padding-left: 0px;
}


/* embed-code widget */
#embed {
    position: relative;
    text-align: right;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-bottom: 1em;
}

#embed-info {
  border: 1px solid #aaa;
  color: #00529B;
  background-color: #BDE5F8;
  background-image: url('../../images/info.png');
  background-repeat: no-repeat;
  background-position: 10px center;
}

#embedding-code {
  background-color: white;
}

#embed-info p {
    text-align: center;
}

#subnav ul.step-menu li a.step-completed {
    background-image: url(../../images/fade-arrow-bg.png) !important;
}

#subnav ul.step-menu li a.step-selected {
    background-image: url(../../images/fade-arrow.png) !important;
}

#subnav ul.step-menu li a {
    padding: 0.95em 2em 0.95em 1em !important;
}

/* anti uniForm */
.uniForm .ctrlHolder {
    margin: 5px 0;
    border: 0;
}

.uniForm .focused {
    background: #fff url(../../images/header-background.png) repeat-x center bottom;
    border: 1px solid #ddd;
    padding: 6px;
}
