{% extends "site_base.html" %}
{% load i18n %}
{% load uni_form_tags %}

{% block head_css %}
{{ block.super }}
<style type="text/css">
    form ul { list-style: none; margin: 0; padding-left: 0; }
</style>
{% endblock %}

{% block body %}
<div id="issue_create_content">
    <h1>Report a Data Augmentation Problem</h1>

    <form action="{% url create_augmentation_issue %}" method="post" class="uniForm">
        <fieldset class="inlineLabels">
            {{ form|as_uni_form }}
        </fieldset>
        <input type="submit" value="Send Report"/>
        <input type="button" class="cancel-button negative-button" value="{% trans "Cancel" %}"/>
    </form>
</div>
{% endblock %}
