{% extends "site_base.html" %}
{% load i18n %}
{% load uni_form_tags %}

{% block body %}
<div id="issue_create_content">
    <h1>{% trans "Report a Data Loading Problem" %}</h1>
    {% blocktrans %}
    <p>Please review the element names listed under "Elements*" below.  These elements did not load with the rest of your file.  Please annotate and submit those that are important to you to Recollection support so that we may add them to our loading process. </p>

    <p>By requesting these changes, you will not only be providing a solution for your specific data file, but others will be able to take advantage of your additions in the future. You will be notified once these changes are made so that you can try reloading your file.</p>
    {% endblocktrans %}    
    <form action="" method="post" class="uniForm">
        <fieldset class="inlineLabels">
            {%csrf_token%}
            {{ form|as_uni_form }}
        </fieldset>
        <input type="submit" value="Send Report"/>
        <input type="button" class="cancel-button negative-button" value="{% trans "Cancel" %}"/>
    </form>
</div>
{% endblock %}

